.Progressbar, .Progressbar__progress, .Progressbar__loaded {
    height: 5px;
}

.Progressbar:hover, .Progressbar__progress:hover,
.Progressbar__loaded:hover {
    height: 10px;
}

.Progressbar {
    position: relative;
    background-color: rgba(255, 255, 255, .2);
}
.Progressbar__progress {
    background-color: $colorPlaying;
    position: absolute;
    top: 0;
}
.Progressbar__loaded {
    background-color: lighten($colorPlaying, 10%);
}
