.ContextsList {
    overflow: auto;
    background-color: white;
    flex-grow: 1;
}
.ContextsList__context {
    display: flex;
    border-color: 1px border $colorShow;
    border-top: 2px solid #00ff9b;
    .ContextsList__cover {
        width: 14rem;
        padding: 20px;
        color: white;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: inset 0 0 0 1000px rgba($colorShow, .3);
        background-size: auto 100%;
    }
    .ContextsList__items {
        flex-grow: 1;
    }
}
.context__title {
    font-family: $secondaryFont;
    font-size: 2rem;
    flex-grow: 1;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}
.context__details {
    font-family: $primaryFont;
    font-size: 1rem;
    white-space: nowrap;

}
