<div class="modal-header">
    <div class="modal-title">
        Reset Password
    </div>
</div>
<div class="modal-body">
    <form name="vm.confirmResetForm" id="confirmResetForm" ng-submit="vm.confirmReset()" novalidate>
        <label for="inputPassword">New Password</label>
        <input ng-model="vm.password" type="password" id="inputPassword" class="form-control" required>
    </form>
    <span class="help-block" ng-if="vm.errors">
        <div ng-repeat="(name, errors) in vm.errors">
            {{name}}: <span ng-repeat="error in errors">{{ error }} </span>
        </div>
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-danger"
            form="confirmResetForm"
            ng-disabled="vm.confirmResetForm.$invalid"
            type="submit">
        Change
    </button>
</div>
