.right.account {
    .first-block {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.content.account {
    color: #FF5678;
    width: 50%;
     .titre {
        font-family: "Lekton";
        color: #000000;
    }
    .user-name {
        font-size: 2em;
        line-height: 2em;
    }
}
