.right.account {
    .first-block {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.content.account {
    background-color: #F2F2F2;
    
    input[type="text"], input[type="password"], input[type="email"] {
        border: 0px none;
        background-color: #E6E6E1;
        padding: 15px;
        margin-bottom: 50px;
        min-width: 50%;
        display: block;
        opacity: .9;
    }
    
     .titre {
        font-family: "Lekton";
        color: #000000;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .user-name {
        font-family: "Montserrat";
        font-size: 1.8em;
        line-height: 1.2em;
        margin-bottom: 200px;
    }
}
