.right.account {
    .first-block {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.content.account {
    background-color: #F0F0EB;
    background-position: -40px -40px; 
    
     .titre {
        font-family: "Lekton";
        color: #000000;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .user-name {
        font-family: "Montserrat";
        font-size: 1.8em;
        line-height: 1.2em;
        margin-bottom: 200px;
        color: #333333;
    }
    
    form {
        width: 40%;
    }
}
