body {

}
@NAV_WIDTH: 200px;
@RIGHT_NAV_WIDTH: 300px;
@HEADER_WIDTH: 200px;

nav {
    position: absolute;
    bottom: 0;
    .wrapper {
        padding: 10px;
    }
    position: fixed;
}
nav.left {
    z-index: 20;
    top:0;
    left: 0;
    width: @NAV_WIDTH;
    background-color: #1A1A1A;
    color: white;
    .logo {
        margin:20px 0;
    }
}
nav.right {
    z-index: 10;
    top:0;
    right: 0;
    width: @RIGHT_NAV_WIDTH;
    background-color: #E6E6E6;
    padding-top: @HEADER_WIDTH;
    .create {
        background-color: #F2F2F2;
    }
}

.content {
    margin: 20px @RIGHT_NAV_WIDTH + 20px 20px @NAV_WIDTH + 20px;
}


@import "loop.less";
@import "create-youtube-show.less";
@import "shows-list.less";
