Django==1.9.3
django-appconf==1.0.1
django-compressor==2.0
django-filter==0.12.0
djangorestframework==3.3.2
Markdown==2.6.5
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
wheel==0.24.0
google-api-python-client==1.5.0
soundcloud==0.5.0
django-rest-framework-social-oauth2==1.0.4
whitenoise==2.0.6
git+https://github.com/django-haystack/django-haystack.git@cc0974d53de637c16468b6779d486794ac9caaf5
elasticsearch==2.3.0
djoser==0.5.0
drf-haystack==1.5.6
twython==3.4.0
# PROD
gunicorn==19.4.5
dj-database-url==0.4.0
psycopg2
newrelic
