.NavPlayer {
    background-color: white;
    padding: 15px 10px;
}

.NavPlayer a {
    color: black;
}

.NavPlayer a:hover {
    color: $colorPlaying;
}

.NavPlayer .material-icons.active {
    color: $colorPlaying;
}

.NavPlayer__controllers {
    //min-width: 180px;
    white-space: nowrap;
}

.NavPlayer__item, .NavPlayer__show {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 100%;
    color: $colorPlaying;
}

.NavPlayer__item {
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 1.2em;
}

.NavPlayer__show {
    font-family: $secondaryFont;
    font-weight: 300;
}
