.NavPlayer {
    background-color: $colorPlaying;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.NavPlayer a {
    color: blue;

}

.NavPlayer a:hover {
    color: white;
}

.NavPlayer .material-icons.active {
    color: white;
}

.NavPlayer__banner {

}
.NavPlayer__controllers {
    //min-width: 180px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: $screen-sm) {
  .NavPlayer__controllers {
      width: auto;
  }
}

.NavPlayer__item, .NavPlayer__show {
    color: white;
}

.NavPlayer__item {
    font-family: $primaryFont;
}

.NavPlayer__show {
    font-family: $secondaryFont;
}
