.NavPlayer {
    background-color: $colorPlaying;
    padding: 10px 25px;
    display: flex; /* 3 next lines, mobile or not*/
    align-items: center;
    justify-content: space-between;
}

.NavPlayer__banner {
    padding: 5px 0px;
    color: $text-color-bright;
    font-size: 1rem;
}

.NavPlayer__banner a {
    color: $text-color-bright;
}

.NavPlayer__banner a:hover {
    color: $text-color-bright;
    text-decoration: none;
    border-bottom: 1px dotted rgba(255,255,255,.5);
}

.NavPlayer__item {
    font-size: 1rem;

}
.NavPlayer__show a {
    font-size: .8rem;
    font-family: $secondaryFont;
    letter-spacing: 0.05rem;
}


.NavPlayer__controllers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    letter-spacing: 0.5rem;
}

.NavPlayer__buttons {
    margin-left: 25px;
}

.NavPlayer__mainNav {
    margin-left: 50px;
}

.NavPlayer__buttons a, .NavPlayer__buttons a:active {
    color: purple;
    padding-left: 5px;
}

.NavPlayer__buttons a:hover {
    color: $text-color-bright;
}


.NavPlayer__buttons--active {
    color: $text-color-bright;
}

.NavPlayer__buttons:first-child {
    margin-left: 0px;
}
