.superextended {
    position: relative;
    > .background {
        background: white;
        opacity: .8;
        position: absolute;
        top: 0; right: 0; left: 0; bottom: 0;
        z-index: 1;
    }
    .body {
        font-family: 'Lekton';
        position: relative;
        z-index: 2;
        .loop {
            &__header {
                position: absolute;
                right: 20px;
                top: 20px;
                z-index: 0;
                .name {
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }
            min-height: 150px;
            max-height: 350px;
            padding-left: 85px;
            overflow-y: scroll;
            table {
                font-family: 'Montserrat';
                line-height: 1.4em;
                margin-bottom: 20px;
                position: relative;
                z-index: 1;
                border-spacing:0;
                border-collapse: collapse;
                width: 100%;
                tr {
                    cursor: pointer;
                    &:hover {
                        background-color: @GREEN;
                        .duration {
                            visibility: visible;
                        }
                    }
                    &.active {
                        font-weight: bold;
                    }
                }
                .show-type {
                    & > div {
                        font-size: 2em;
                        height: 20px;
                        top: -10px;
                        position: relative;
                    }
                }
                .title {
                    padding-left: 20px;
                }
                .duration {
                    visibility: hidden;
                    padding-right: 100px;
                    font-size: .8em;
                }
            }
        }
        .share {
            padding: 20px;
            &__info, &__embed-code, &__url {
                float: left;
            }
            &__info {
                font-size: .8em;
                dt {
                    font-weight: 400;
                }
                dd {
                    font-weight: 700;
                    margin: 0;
                }
            }
            &__embed-code, &__url {
                textarea {
                    height: 80px;
                    width: 240px;
                }
                button {
                    display: block;
                }
            }
        }
    }
}
