.Suggestions {
    width: 100%;
    display: flex;
}
.Suggestions__item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    & > a {
            flex-grow: 1;
            font-size: 7vw;
        }
}
