<soundcloud ng-if="vm.Player.currentItem.provider_name == 'SoundCloud'"
                soundcloud-item="vm.Player.currentItem">
</soundcloud>
<div ng-class="{'hidden': vm.Player.currentShow.settings.force_giphy}">
<youtube ng-if="vm.Player.currentItem.provider_name == 'YouTube'"

         data-item="vm.Player.currentItem">
</youtube>
</div>
<vimeo ng-if="vm.Player.currentItem.provider_name == 'Vimeo'"
         data-item="vm.Player.currentItem">
</vimeo>
<webtorrent ng-if="vm.Player.currentItem.provider_name == 'WebTorrent'"
            class="webtorrent"
            data-item="vm.Player.currentItem">
</webtorrent>
<loopr-giphy ng-if="vm.Player.currentShow.settings.force_giphy ||
                    (vm.Player.currentItem.provider_name == 'SoundCloud' &&
                    vm.Player.currentShow.settings.giphy)">
</loopr-giphy>
<div class="overlay"
     ng-click="vm.Player.playPause()">
</div>
<div class="container-fluid strip">
    <div ui-view="header"></div>
    <div class="strip__body row">
        <div ui-view='body'></div>
    </div>
    <div class="strip__controls" ng-class="{'strip__controls--extended': vm.isExtented()}">
        <div class="row" ng-if="vm.isExtented()">
            <div class="banner col-xs-12 col-md-8">
                <div class="row">
                    <div class="banner__playButton col-xs-1 col-md-1">
                        <i class="material-icons">play_arrow</i>
                    </div>
                    <div class="banner__title col-xs-9 col-md-9">
                        <span ui-sref="index.open.show({showToExplore: vm.Player.currentShow})">{{ vm.Player.currentItem.title }}</span>
                    </div>
                    <div class="col-xs-1 col-md-1 text-right">
                        <a ng-href="{{ vm.Player.currentItem.url }}" target="_blank">
                            <i ng-if="vm.Player.currentItem.provider_name === 'YouTube'" class="fa fa-youtube-play" aria-hidden="true" title="Watch {{vm.Player.currentItem.title}} on Youtube"></i>
                            <i ng-if="vm.Player.currentItem.provider_name === 'SoundCloud'" class="fa fa-soundcloud" aria-hidden="true" title="Watch {{vm.Player.currentItem.title}} on Soundcloud"></i>
                            <i ng-if="vm.Player.currentItem.provider_name === 'Vimeo'" class="fa fa-vimeo-square" aria-hidden="true" title="Watch {{vm.Player.currentItem.title}} on Vimeo"></i>
                        </a>
                    </div>
                    <div class="col-xs-1 col-md-1 text-right">
                        <i class="material-icons" ng-click="vm.addToShowModal(vm.Player.currentItem)" title="Add this Item to a Show">playlist_add</i>
                    </div>
                </div>
            </div>
            <div class="controller col-xs-12 col-md-4">
                <div class="controller__prevPlayNext col-xs-7">
                    <span ng-click="vm.previousShow()" title="Previous Show"><i class="material-icons">first_page</i></span>
                    <span ng-click="vm.previousItem()" title="Previous Item"><i class="material-icons">chevron_left</i></span>
                    <span ng-click="vm.Player.playPause()" title="Play/Pause"><i class="material-icons">pause</i></span>
                    <span ng-click="vm.nextItem()" title="Next Item"><i class="material-icons">chevron_right</i></span>
                    <span ng-click="vm.nextShow()" title="Next Show"><i class="material-icons">last_page</i></span>
                    <span ng-click="vm.Player.toggleMute()" title="Mute on/off">
                        <i class="material-icons">{{ vm.Player.isMuted ? 'volume_off' : 'volume_up' }}</i>
                    </span>
                </div>
                <div class="controller__display col-xs-3 text-left">
                    <span ng-click="vm.stripService.autoHideToggle()" class="auto-hide" title="Strip auto-hide on/off">
                        <i class="material-icons sm">{{ vm.stripService.isAutoHideEnabled === true ? 'video_label' : 'call_to_action' }}</i>
                    </span>
                    <span ng-click="vm.toggleFullscreen()" class="fullscreen" ng-class="{'active': vm.isFullScreen()}" title="Enter Fullscreen">
                        <i class="material-icons">fullscreen</i>
                    </span>
                </div>
                <div class="controller__help col-xs-1">
                    <span><i class="material-icons" ng-click="vm.help()" title="about Loopr">help_outline</i></span>
                </div>
                <div class="controller__toggle col-xs-1 text-right">
                    <i class="toggle-controller material-icons" ng-click="vm.stripService.toggleController()" title="Toggle Navigation">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!vm.isExtented()">
            <div class="banner col-xs-10">
                <div class="banner__title closed" ng-click="vm.stripService.toggleController()">
                    <banner lines="vm.upperStrip.banner" transition="scroll" duration="5"></banner>
                </div>
            </div>
            <div class="controller__toggle--closed col-xs-2 text-right">
                <i class="toggle-controller material-icons" ng-click="vm.stripService.toggleController()" title="Toggle Navigation">keyboard_arrow_up</i>
            </div>
        </div>
        <!-- progress bar -->
        <div class="row">
            <div class="col-xs-12">
                <div class="progress" ng-click="vm.setPosition($event)">
                    <div class="progress-bar"
                         role="progressbar"
                         aria-valuenow="{{ vm.Player.currentPosition }}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         ng-style="{width: vm.Player.currentPosition + '%'}">
                    </div>
                </div>
            </div>
        </div>
        <!-- end: progress bar -->
    </div>
    <div class="container-fluid" ng-if="vm.Player.loop.feed_json !== '[]'">
        <div class="row">
            <div class="feed col-md-12">
                <l8pr-feed></l8pr-feed>
            </div>
        </div>
    </div>
</div>
