@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/plyr/src/less/plyr.less";
@import "bower_components/components-font-awesome/less/font-awesome.less";
@fa-font-path: "/static/bower_components/components-font-awesome/fonts";
@import "variables.less";
@import "strip/style.less";
@import "strip/show/style.less";
@import "/player/webtorrent/style.less";
@import "strip/loop/style.less";
@import "strip/search-results/style.less";
@import "strip/header/style.less";

a, [ng-click], [ui-sref] {
    //color: @link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: @link-hover-decoration;
        color: @text-color; // @link-hover-color;
    }
}

html, body, div[ng-view] {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #1A1A1A;
    transform: translateZ(0);  /* activation de l'AM */
}
iframe {
    position: absolute;
    z-index: 5;
}
// youtube player
body .plyr {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    .plyr__video-embed,
    .plyr__video-wrapper,
    .plyr__video-wrapper video {
        height: 100%;
    }
}
.soundCloudViz {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &.repeat {
        .repeatable {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-repeat: repeat;
        }
    }
    &.symmetry {
        img {width: 50%;}
        img:nth-child(1) {
            float: left;
        }
        img:nth-child(2) {
            float: right;
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }
    img {
        position: relative;
        z-index: 2;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}
.overlay {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.strip {
    margin: @MARGE_OUTER;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 0;
    right: 0;
    opacity: 1;
    transition-property: opacity;
    transition-property: height;
    transition-duration: 2s;
    &.hidden {
        opacity: 0;
    }
    @media (max-width: @screen-xs){
        margin: @MARGE_OUTER--mobile;
    }
}

//
// BOOTSTRAP OVERRIDE
//

.col-xs-1, .col-xs-2, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-8, .col-sm-4, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-8, .col-md-9, .col-md-10,
.col-md-push-9,  .col-md-pull-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.list-group {
    margin-bottom: 0px;
}

.list-group-item {
    border: 1px #fff;
    background-color: transparent;
    padding-left: 0px;
    margin-left: 0px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    height: 180px;
    background-color: @body-bg !important;
    color: @text-color !important;
    font-size: 5em !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.progress {
    height: 5px !important;
    transition-property: height;
    transition-duration: .20s;
    &:hover {
        height: 15px !important;
    }
}

.navbar-collapse {
    padding: 0px;
    margin: 0px;
}


// modals.less

.modal {
}

.modal-content {
    background-color: @body-bg;
    .box-shadow(10px 10px 0px fade(@text-color, 20));
    font-family: @FONT2;
    border: none !important;
    padding: 20px;
}

.modal-backdrop {
    background-color: fade(@brand-primary, 10);
    &.fade { .opacity(0); }
    &.in { .opacity(@modal-backdrop-opacity); }
}

.modal-header {
    border: none;
    .row;
}
.modal-title {
    .h3;
    .row;
    padding-bottom: 20px;
}

.modal-body {
}
.modal-footer {
    border: none;
}


//
// END Override Bootstrap //
//

// Material icons
.material-icons {
    font-size: 22px !important;
}


// List *Ultimate* // Boom.
.list {
    font-family: @FONT2;
    .list-group;
    > :nth-child(odd) {
        background-color: @color-list-odd;
    }
    > :nth-child(even) {
        background-color: @color-list-even;
    }

    &__item {
        .list-group-item;
        .row;
        //.text-right;
        overflow: hidden;
        margin-bottom: 0;
        padding: 0px;
        height: 120px;
        //box-shadow: inset 10px 10px 0px @SHADOW;
        @media (max-width: @screen-sm){
            //padding-bottom: 30px !important;
            height: auto;
            }
        &__title {
            .list-group-item-heading;
            .h4;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 5px;
            @media (min-width: @screen-md){
                padding-left: 30px;
                padding-top: 30px;
                padding-right: 30px;
                .h5;
            }
        }
        .item {} //Default type
        .show {
            font-family: @FONT1;
            font-size: 110%;
            margin-bottom: 5px;
            letter-spacing: .025em;
        }

        &__info {
            .list-group-item-text;
            .h5;
            padding-left: 20px;
            padding-bottom: 20px;
            @media (min-width: @screen-md){
                padding-left: 30px;
                padding-right: 30px;
                font-weight: 300 !important;
            }
            i {
                font-size: 80%;
            }
        }
        &__actions {
            padding-top: 30px;
            padding-right: 30px !important;
            @media (max-width: @screen-sm){
                padding-top: 30px;
                padding-right: 20px;
            }
            .text-right;
            a {
                vertical-align: top;
            }
        }
        &__illu {
            &--item {
                img {
                    .img-responsive;
                    //margin: 10px; maybe ...
                    //padding-right: 10px;
                    @media (max-width: @screen-sm){
                        padding: 20px 20px 0px 20px;
                        }
                    }
                }

            &--show {}
        }
        &--playNow {
            color: @brand-primary;
        }
        &--active {
            .list-group-item.active;
        }
        &:hover {
            a, [ng-click] {color: @text-color;}
            background-color: white;
            .fa-youtube-play {
                color: @color_youtube;
            }
            .fa-soundcloud {
                color: @color_soundcloud;
            }
            .fa-vimeo {
                color: @color_vimeo;
            }
            .list__item__title {
                font-weight: bold;
            }
            .list-group-item-text {
                opacity: 1;
                font-weight: 300;
            }
        }
    }
}


// Cover Ultimate
.cover {
    .row;
    font-family: @FONT1;
    color: @text-color;
    background-color: @body-bg;
    box-sizing: padding-box;
    padding: (@MARGE * 2) (@MARGE * 3);
    @media (max-width: @screen-sm){
        padding: (@MARGE * 2) (@MARGE * 2);
    }
    box-shadow: 0px 10px 0px @SHADOW;
    position: relative;
    z-index: 2;
    &__title {
        font-size: 150%;
    }
    &__details {
        font-family: @FONT2;
    }
    &__actions {
        text-align: right;
        &:hover{color:blue;}
    }
}

//Side bar
.side-bar {
    .row;
    .text-left;
    background-blend-mode: multiply;
    font-family: @FONT2;
    color: @text-color;
    margin: 0 !important;
    box-shadow: 0px 10px 0px @SHADOW;

    a, [ng-click], [ui-sref] {
        color: @body-bg;
        &:hover {
            color: @text-color;
            background-color: @body-bg;
        }
    }
    &__title {
        .h4;
        //font-family: @FONT1;
        margin: 0px;
        padding: 20px 20px 10px 20px;
        font-weight: 500;
        background-color: @body-bg;
        @media (min-width: @screen-md){
            .h2;
            //font-family: @FONT1;
            padding: 30px;
            line-height: 1.5em;
            margin: 0px;
            }
    }
    .show {
        font-family: @FONT1;
        font-weight: 700;
    }
    .results {
        background-color: @text-color !important;
        color: @body-bg !important;
    }

    &__info {
        .h6;
        .row;
        margin: 0px;
        padding: 0px 30px 20px 20px !important;
        background-color: @body-bg;
        @media (min-width: @screen-md){
            .h5;
            margin: 0px;
            padding: 0px 30px 30px 30px !important;
            line-height: 1.5em;
            }
    }
    &__filter {
        .h5;
        padding: 10px 20px;
        background-color: fade(@text-color, 90);
        color: fade(@body-bg, 90) !important;
        margin: 0px;
        border: none !important;
        @media (min-width: @screen-md){
            //.text-left;
            .h5;
            padding: 30px 30px 60px 30px;
            line-height: 1.5em;
            margin: 0px;
            }
        i {
            //color: red;
            font-size: 18px !important;
        }
    }
}
