<soundcloud-viz ng-if="vm.Player.currentItem.provider_name == 'SoundCloud'"
                soundcloud-item="vm.Player.currentItem">
</soundcloud-viz>
<youtube ng-if="vm.Player.currentItem.provider_name == 'YouTube'"
         data-item="vm.Player.currentItem">
</youtube>
<vimeo ng-if="vm.Player.currentItem.provider_name == 'Vimeo'"
         data-item="vm.Player.currentItem">
</vimeo>
<div class="overlay"
     ng-mousemove="vm.showAndHideStrip()"
     auto-hide-cursor
     ng-click="vm.Player.playPause()">
</div>
<div class="container-fluid strip">

    <div ui-view="header"></div>
    <div class="strip__body row">
        <div ui-view='body'></div>
    </div>
    <div class="strip__controls" ng-class="{'strip__controls--extended': vm.$state.current.name != 'index'}">
        <div class="row" ng-if="vm.$state.current.name != 'index'">
            <div class="banner col-xs-12 col-md-8">
                <div class="banner-inner">
                    <banner lines="vm.upperStrip.banner" transition="scroll" duration="10"></banner>
                </div>
            </div>
            <div class="controller col-xs-12 col-md-4">
                <div class="controller__prevPlayNext col-xs-8">
                    <span ng-click="vm.previousShow()" title="Previous Show"><i class="material-icons">first_page</i></span>
                    <span ng-click="vm.previousItem()" title="Previous Item"><i class="material-icons">chevron_left</i></span>
                    <span ng-click="vm.Player.playPause()" title="Play/Pause"><i class="material-icons">play_arrow</i></span>
                    <span ng-click="vm.nextItem()" title="Next Item"><i class="material-icons">chevron_right</i></span>
                    <span ng-click="vm.nextShow()" title="Next Show"><i class="material-icons">last_page</i></span>
                    <span ng-click="vm.Player.toggleMute()" title="Mute on/off">
                        <i class="material-icons">{{ vm.Player.isMuted ? 'volume_off' : 'volume_up' }}</i>
                    </span>
                    <span><i class="material-icons text-muted" title="Coming Soon...">flash_off</i></span>
                </div>
                <div class="controller__display col-xs-3 text-left">
                    <span ng-click="vm.stripService.autoHideToggle()" class="auto-hide" title="Strip auto-hide on/off">
                        <i class="material-icons sm">{{ vm.stripService.isAutoHideEnabled === true ? 'video_label' : 'call_to_action' }}</i>
                    </span>
                    <span ng-click="vm.toggleFullscreen()" class="fullscreen" ng-class="{'active': vm.isFullScreen()}" title="Enter Fullscreen">
                        <i class="material-icons">fullscreen</i>
                    </span>
                </div>
                <div class="controller__toggle col-xs-1 text-right">
                    <i class="toggle-controller material-icons" ng-click="vm.stripService.toggleController()" title="Toggle Navigation">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.$state.current.name === 'index'">
            <div class="banner col-xs-11">
                <div class="banner-inner">
                    <banner lines="vm.upperStrip.banner" transition="scroll" duration="5"></banner>
                </div>
            </div>
            <div class="controller__toggle col-xs-1 text-right">
                <i class="toggle-controller material-icons" ng-click="vm.stripService.toggleController()" title="Toggle Navigation">keyboard_arrow_up</i>
            </div>
        </div>
        <!-- progress bar -->
        <div class="row">
            <div class="col-xs-12">
                <div class="progress" ng-click="vm.setPosition($event)">
                    <div class="progress-bar"
                         role="progressbar"
                         aria-valuenow="{{ vm.Player.currentPosition }}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         ng-style="{width: vm.Player.currentPosition + '%'}">
                    </div>
                </div>
            </div>
        </div>
        <!-- end: progress bar -->
    </div>
    <div class="strip__feed row">
        <div class="lower-strip" ng-click="vm.stripService.toggleController()" ng-if="vm.lowerStrip.banner.length > 0">
            <div class="banner">
                <div class="banner-inner">
                    <banner lines="vm.lowerStrip.banner" transition="fade" duration="15"></banner>
                </div>
            </div>
            <time></time>
            <div style="clear:both"> </div>
        </div>
    </div>
</div>
