<loop></loop>
<div class="Shows content">
    <h2>Your Shows
    <a href="/#/music-show" class="create-a-new-show">+ Create a new Show</a></h2>

    <ul>
        <li ng-repeat="show in vm.shows track by show._id" ng-click="openShow(show)">
            <div class="Show">
                <div class="Show__illustration" style="background-image:url({{show.links[0].thumbnail}})">
                </div>
                <div class="bottom">
                    <div class="action" ng-click="vm.addToLoopMode(show); $event.stopPropagation()"><i class="icon icon-opt-addtoloop"></i></div>
                    <div class="Show__title"><a>{{ show.title }}</a></div>
                    <div class="Show__info">{{ show.duration() | seconds }}
                        <span class="right">
                            <span ng-if="show.type === 'VideoShow'"><i class="fa fa-youtube"></i></span>
                            {{ show.links.length || 0 }}
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div ng-show="vm.shows.length < 1">No show</div>
</div>
