<loop></loop>
<nav class="right">
    <div class="first-block block">
        <h3>Create a new show</h3>
        <ul>
            <li><a href="/#/video-show">Video Show</a></li>
            <li><a href="/#/music-show">Music Show</a></li>
        </ul>
    </div>
</nav>
<div class="Shows content in-frame">
    <h2>Your Shows</h2>
    <ul>
        <li ng-repeat="show in vm.shows track by show._id" ng-click="openShow(show)">
            <div class="Show">
                <div class="Show__illustration" style="background-image:url({{show.links[0].thumbnail}})">
                </div>
                <div class="bottom">
                    <div class="action" ng-click="vm.addToLoopMode(show); $event.stopPropagation()">+</div>
                    <div class="Show__title"><a>{{ show.title }}</a></div>
                    <div class="Show__info">{{ show.duration() | seconds }}
                        <span class="right">
                            <span ng-if="show.type === 'VideoShow'"><i class="fa fa-youtube"></i></span>
                            {{ show.links.length || 0 }}
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div ng-show="vm.shows.length < 1">No show</div>
</div>
