.Shows {
    ul {
        margin:0;
        padding:0;
    }
    li {
        float: left;
        list-style: none;
        background-color: #F2F2F2;
        margin: 0 16px 20px 0;
        cursor: pointer;
    }
}
