.Loop {
    position: relative;
    white-space: nowrap;
    height: 200px;
    li {
        display: inline-block;
        height: 200px;
        overflow: hidden;
    }
    .Loop__nav {
        position: absolute;
        top: 50;
        bottom: 0;
    }
    .Loop__nav--prev {
        left: 0;
    }
    .Loop__nav--next {
        right: 0;
    }
}
