.ResultsCounter {
    display: flex;
    flex-shrink: 0;
    background-color: $colorSearch;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}
.ResultsCounter__counter {
    margin-right: 1rem;
}
