.Screen {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;

}
.ReactPlayer {
    position: absolute;
}
.Screen__SCIllu {
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
