.Screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.Screen__SCIllu {
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
