<loop></loop>
<nav class="right">
    <div class="first-block block">
        <ul>
            <li><a ng-click="vm.addToLoopMode()">Loop this Show</a></li>
            <li><a target="_blank" ng-href="/{{user.username}}/?show={{vm.show._id}}">Watch loop from here</a></li>
            <br />
            <li><a ng-click="vm.removeShow()">Delete this show</a></li>
        </ul>
    </div>
    <div class="block">
        <h3>Options</h3>
        <ul class="options">
            <li ng-repeat="option in vm.options" ng-if="vm.optionIsSatisifed(option)">
                <label>
                    {{ option.label }}
                    <span ng-switch="option.type">
                        <input ng-switch-when="text" type="{{option.type}}" ng-model="vm.show.settings[option.name]" ng-change="vm.saveShow()" ng-model-options="{ updateOn: 'blur' }">
                        <input ng-switch-when="checkbox" type="{{option.type}}" ng-model="vm.show.settings[option.name]" ng-change="vm.saveShow()" ng-model-options="{ updateOn: 'default blur' }">
                    </span>
                </label>
            </li>
            <br />
            <li>
                <label><input type="checkbox" ng-model="vm.show.settings.shuffle" ng-change="vm.saveShow()">
                    Shuffle Mode
                </label>
            </li>
            <li>
                <label><input type="checkbox" ng-model="vm.show.settings.hide_strip" ng-change="vm.saveShow()">
                    Hide the STRIP for this show
                </label>
            </li>
        </ul>
    </div>
</nav>
<div class="create-show content in-frame">
    <form>
        <div class="type-show"> Show</div>
        <h2 ng-model="vm.show.title" ng-change="vm.saveShow()" ng-model-options="{debounce: 500}" contenteditable="true"></h2>
        <label></label>
        <input type="text" ng-model="vm.url" placeholder="{{ vm.example || 'Paste a Youtube video link here' }}"/>
        <button ng-click="vm.addLink(vm.url)">+ Add</button>
    </form>
    <table>
        <tr ng-repeat="link in vm.show.links" ng-mouseover="vm.illustration = link.thumbnail">
            <td class="title">
                <span class="reorder">
                    <a ng-click="vm.reorderLink(link, -1)" ng-show="!$first">&#8593;</a>
                    <a ng-click="vm.reorderLink(link, 1)" ng-show="!$last">&#8595;</a>
                </span>
                <span class="index">
                    {{ $index + 1 }}.
                </span>
                <a target="_blank" ng-href="/{{user.username}}/?show={{vm.show._id}}&item={{$index}}">{{ link.title }}</a>
            </td>
            <td class="subtitle"><input type="text" ng-model="link.subtitle" ng-change="vm.saveShow()" ng-model-options="{debounce: 2000}" placeholder="subtitle"/></td>
            <td>
                <a ng-href="{{ link.url }}" target="_blank">
                    <i class="fa fa-{{link.provider_name | lowercase}}"></i>
                </a>
            </td>
            <td>{{ link.duration | seconds }}</td>
            <td><a ng-click="vm.removeVideo(link)">X</a></td>
        </tr>
    </table>
    <img class="illustration" ng-src="{{ vm.illustration || vm.show.thumbnail || vm.show.links[0].thumbnail }}"/>
</div>
