<div class="strip-demo">
    <strip class="strip"
    lines="['Les shows à ne pas louper', 'L8pr']"
    logo="'fa-youtube-square'"
    progression="50"
    strip-queries="vm.loop.strip_messages"
    ></strip>
</div>
<div class="edit-strip content in-frame">
    <form>
        <h2>Your Strip</h2>
        <label class="strip-label">
            (Enter a TWITTER account <b>(from:user)</b> or Hashtag <b>(#Hashtag)</b>, or a url for RSS FEED.)
        </label>
        <input type="text" name="strip_source" ng-model="vm.accounts" placeholder="#japanspirits from:hejorama OR from:vied12"/>
        <button class="button-strip" ng-click="vm.addAccounts(vm.accounts)">+ Add</button>
    </form>
    <table>
        <tr>
            <th>Source</th>
            <th>Type</th>
            <th>Rule</th>
        </tr>
        <tr ng-repeat="query in vm.loop.strip_messages">
            <td class="accounts">
                <span class="reorder">
                    <a ng-click="vm.reorderLink(query, -1)" ng-show="!$first">&#8593;</a>
                    <a ng-click="vm.reorderLink(query, 1)" ng-show="!$last">&#8595;</a>
                </span>
                <span class="index">
                    {{ $index + 1 }}.
                </span>
                 {{ query.query }}
            </td>
            <td ng-switch="query.type">
                <span ng-switch-when="twitter">Twitter</span>
                <span ng-switch-when="rss">Feed</span>
            </td>
            <td>{{ query.count }} last</td>
            <td><a ng-click="vm.deleteQuery($index)">X</a></td>
        </tr>
    </table>
</div>
