.strip-demo {
    margin-left: @NAV_WIDTH;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FB2844;
    padding-top: 20px;
    height: @HEADER_HEIGHT;
    overflow: hidden;
}
.edit-strip {
            tr {
                width: 100%;
                position: relative;
                &:hover {
                font-weight: bold;
                .reorder {display:inline;}
                .index {display:none;}
                td, td:first-child:before, td:last-child:after {
                background-color: rgba(240, 50, 60, 0.8);
                }
            }
        }
}
.button-strip {
    background-color:rgba(240,50,60,1); 
    opacity: 1;
}
.strip-label {
    color:#888888; 
    margin-bottom: 30px;
}
