.Search {
    display: flex;
    flex-direction: column;
}
.Search__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.Search {
    .Select {
        flex-grow: 1;
    }
    .Select-control {
        background-color: transparent !important;
        border-color: transparent !important;
        border-radius: 25px !important;
        border: 0px !important;
        height: auto !important;
        transition-property: all !important;
        transition-duration: 0.5s !important;
        padding: 0px 5px !important;
        box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
        border: none !important;
    }
    .Select .Select-arrow {
        border-color: $colorSearch transparent transparent !important;
    }
    .Select-menu-outer {
        background-color: rgba(255,255,255,.95) !important;
        border-radius: 0px !important;
        border: none !important;
        margin-top: 5px !important;
        box-shadow: 5px 5px 0px rgba(148,0,211,.1) !important;
        border-top: 0px !important;
    }
    .Select-value {
        font-size: 1em !important;
        margin: 0 !important;
        color: white !important;
        border: 0px !important;
        border-radius: 25px !important;
        padding: 2px 8px !important;
        background-color: $colorSearch !important;
        vertical-align: middle !important;
        margin-right: 5px !important;
        box-shadow: 0px 0px 0px rgba(0,0,0,.5);
    }
    .Select-value-icon {
        border: 0px !important;
        padding: 0px !important;
        opacity: .8 !important;
        cursor: pointer;
    }
    .Select-value-icon:hover {
        opacity: 1 !important;
    }
    .Select-clear-zone, .Select-arrow-zone {
        color: dimgray !important
    }
}
