.strip__header {
    background-color: @LOW_OPACITY_BACKGROUND;
    font-family: @FONT2;
    height: 40px;
    padding: @MARGE (@MARGE * 3) 0 (@MARGE * 3);
    &__title {
    }
    .current-user {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 25px;
        height: 25px;
    }
}
