.strip__header {
    background-color: @LOW_OPACITY_BACKGROUND;
    //overflow: hidden;
    font-family: @FONT2;
    height: 50px;
    padding: 15px (@MARGE * 2) 0 (@MARGE * 2);
    //padding: 15px 0px 0px 0px;
    @media (min-width: @screen-md){
        padding: 15px (@MARGE * 3) 0 (@MARGE * 3);
    }
    &__title {
        .logo {
            display: inline-block;
            padding-right: @MARGE * 1.5;
        }
        .info {
            .h5;
            display: inline-block;
            margin-top: -5px !important;
            .user-name, .user-name:active {
                .text-capitalize;
                padding-left: 3px;
                padding-right: 3px;
                color: @text-color;
            }
            .user-name:hover{
                color: @body-bg;
                background-color: @text-color;
            }
            .number-shows {
                font-style: italic;
            }
        }
    }
    .dropdown-menu {
        left: -160px;
        top: -30px;
        //z-index: 9999;
        border: none;
        box-shadow: 10px 10px 0px @SHADOW !important;
        > li > a  {
            margin: 0;
            padding: 10px 20px;
        }
    }

    .current-user {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 25px;
        height: 25px;
    }
    &__searchbar {
        input[type="text"] {
            font-family: @FONT2 !important;
            margin: 0;
            font-size: 13px;
            width: 100%;
            appearance: none;
            box-shadow: none;
            border-radius: none;
            padding: 3px 8px;
            border: none;
            box-shadow: 0px 0px 20px @SHADOW;
            transition: border 0.3s;
            top: -4px;
            position: relative;
        }
<<<<<<< HEAD
        input[type="text"]:focus,
        input[type="text"].focus {
        outline: none;
        border: none;
        }
=======
>>>>>>> origin/master
    }
}
