.strip__header {
    background-color: @LOW_OPACITY_BACKGROUND;
    font-family: @FONT2;
    height: 50px;
    padding: 15px (@MARGE * 2) 0 (@MARGE * 2);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &__title {
        .logo {
            display: inline-block;
            padding-right: @MARGE * 1.5;
        }
        .info {
            display: inline-block;
            font-size: 120%;
            position: absolute;
            .user-name, .user-name:active {
                font-family: @FONT1;
                padding: 5px;
                color: @text-color;
            }
            .user-name:hover{
                color: @body-bg;
                background-color: @text-color;
            }
            .number-shows {
                display: inline-block;
                font-style: italic;
            }
        }
    }
    .current-user {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 25px;
        height: 25px;
    }
}
