<div class="row">
    <div class="strip__header row">
        <div ng-if="!vm.searchBarVisible" class="strip__header__title row col-xs-9 col-md-11">
            <div class="info">
                <a href="//loopr.tv/discover"><i class="logo material-icons" title="Browse other Loops">all_inclusive</i></a>
                <a ui-sref="index.open.loop" class="user-name"><strong>{{ vm.loopAuthor }}</strong></a>
                <a class="number-shows">{{ vm.showsCount }} Shows</a>
            </div>
        </div>
        <div ng-if="vm.searchBarVisible" class="strip__header__searchbar text-right col-xs-9 col-md-11">
            <form class="form-inline" ng-submit="vm.search(vm.searchQuery)">
                <div class="">
                    <input type="text" class="" ng-model="vm.searchQuery" placeholder="Type words or paste a Youtube, Soundcloud or Vimeo link" focus-me="vm.searchBarVisible">
                </div>
            </form>
        </div>
        <div class="col-xs-3 col-md-1 text-right">
            <i ng-if="!vm.searchBarVisible" class="material-icons" ng-click="vm.searchBarVisible = !vm.searchBarVisible">search</i>
            <i ng-if="vm.searchBarVisible" class="material-icons" ng-click="vm.exit()">search</i>
            <div class="current-user" ng-if="vm.loginService.currentUser.id"
                ng-style="{'background-image': 'url(' + vm.loginService.currentUser.profile.avatar + ')'}">
                <div uib-dropdown is-open="status.isopen">
                    <i id="open-user-menu" ng-if="!vm.loginService.currentUser.profile.avatar" uib-dropdown-toggle class="material-icons">account_circle</i>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="open-user-menu">
                        <li role="menuitem">
                            <a ui-sref="index.open.loop({loopToExplore: vm.loginService.currentUser.username})"
                               ng-bind="vm.loginService.currentUser.username"></a>
                        </li>
                        <li role="menuitem"><a ng-click="vm.loginService.logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="current-user" ng-if="!vm.loginService.currentUser.id">
                <i class="material-icons" ng-click="vm.openLoginView()">account_circle</i>
            </div>
        </div>
    </div>
</div>
