<div class="row">
    <div class="strip__header">
        <div ng-if="!vm.searchBarVisible" class="strip__header__title col-xs-9 col-md-10">
            <div class="info">
                <a ui-sref="index.open.loop" class="user-name"><strong>{{ vm.loopAuthor }}</strong></a>
                <i class="number-shows">{{ vm.showsCount }} Shows</i>
            </div>
        </div>
        <div ng-if="vm.searchBarVisible" class="strip__header__searchbar col-xs-9 col-md-10 text-right">
            <form class="form-inline" ng-submit="vm.search(vm.searchQuery)">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.searchQuery" placeholder="Enter words or paste a url" focus-me="vm.searchBarVisible">
                </div>
            </form>
        </div>
        <div class="col-xs-3 col-md-2 text-right">
            <i ng-if="!vm.searchBarVisible" class="material-icons" ng-click="vm.searchBarVisible = !vm.searchBarVisible">search</i>
            <i ng-if="vm.searchBarVisible" class="material-icons" ng-click="vm.exit()">search</i>
            <div class="current-user" ng-if="vm.loginService.currentUser.id"
                ng-style="{'background-image': 'url(' + vm.loginService.currentUser.profile.avatar + ')'}">
                <i ng-if="!vm.loginService.currentUser.profile.avatar" class="material-icons">account_circle</i>

            </div>
            <div class="current-user" ng-if="!vm.loginService.currentUser.id">
                <i class="material-icons" ng-click="vm.openLoginView()">account_circle</i>
            </div>
        </div>
    </div>
</div>
