<div class="row">
    <div class="strip__header">
        <div ng-if="!vm.searchBarVisible" class="strip__header__title col-xs-10">
            <strong>{{ vm.loopAuthor }}</strong>'s loop
            {{ vm.showsCount }} Shows
        </div>
        <div ng-if="vm.searchBarVisible" class="strip__header__searchbar col-xs-10">
            <form class="form-inline" ng-submit="vm.search(vm.searchQuery)">
                <div class="form-group">
                    <input type="text" class="col-md-6 form-control" ng-model="vm.searchQuery" placeholder="Search" focus-me="vm.searchBarVisible">
                    <i class="material-icons" ng-click="vm.searchQuery=''; vm.searchBarVisible = false;">close</i>
                </div>
            </form>
        </div>
        <div class="col-xs-2 text-right">
            <a ng-if="!vm.searchBarVisible" ng-click="vm.searchBarVisible = !vm.searchBarVisible">
                <i class="material-icons">search</i>
            </a>
            <div class="current-user" ng-if="vm.currentUser"
                ng-style="{'background-image': 'url(' + vm.currentUser.profile.avatar + ')'}">
            </div>
        </div>
    </div>
</div>
