.Home {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: $primaryFont;
    overflow: hidden;
    font-size: 13px;
}

.material-icons {
    font-size: 16px !important;
    vertical-align: middle;
}
