html, body, div[ng-view] {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

iframe {
    position: absolute;
    z-index: 5;
}
.soundCloudViz {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    img {
        display: block;
        margin: 0 auto;
    }
}
.strip {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 0;
    right: 0;

}
@import "../../../bower_components/components-font-awesome/less/font-awesome.less";
@fa-font-path: "/static/bower_components/components-font-awesome/fonts";
@import "../../strip/strip.less";
