//temp despi pour Numa
.feed {
    background-color: fade(@text-color,80);
    color: fade(@body-bg, 50);
    font-family: @FONT2 !important;
    font-size: 92%;
    padding: 10px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    i {
        margin-right: 20px;
        color: fade(@body-bg, 30);
        &:hover{
            color: @color_vimeo;
        }
    }
    a, a:hover, a:active {
        color: fade(@body-bg, 30);
        font-family: @FONT2 !important;
    }
    a:hover {
        //border-bottom: 1px solid fade(@body-bg, 70);
        color: fade(@body-bg, 75);
    }
    span {
        font-weight: bold;
    }
}
