<soundcloud-viz ng-if="vm.Player.currentItem.provider_name == 'SoundCloud'"
                soundcloud-item="vm.Player.currentItem"></soundcloud-viz>
<youtube        ng-if="vm.Player.currentItem.provider_name == 'YouTube'"
                item="vm.Player.currentItem"></youtube>
<div class="overlay"
     ng-mousemove="showAndHideStrip()"
     ng-click="vm.Player.playPause()"></div>
<strip
       class="strip"
       ng-class="{'hidden': vm.hideStrip}"
       logo="vm.logo"
       player="vm.Player"
       show-controller="vm.showController"
       progression="vm.Player.currentPosition">
</strip>
