<div class="controllers">
    <div class="progress-bar"><div class="progression" ng-style="{width: strip.player.currentPosition + '%'}"></div></div>
    <div class="navigation">
        <div ng-click="strip.previousShow()"><i class="fa fa-angle-double-left"></i></div>
        <div ng-click="strip.previousItem()"><i class="fa fa-angle-left"></i></div>
        <div ng-click="strip.nextItem()"><i class="fa fa-angle-right"></i></div>
        <div ng-click="strip.nextShow()"><i class="fa fa-angle-double-right"></i></div>
    </div>
</div>
