<div class="share">
    <div class="share__info">
        <dl>
            <dt>Share</dt>
            <dd ng-bind="vm.Player.currentItem.title"></dd>
            <dt>in the Show</dt>
            <dd ng-bind="vm.Player.currentShow.title"></dd>
            <dt>looped by</dt>
            <dd>user</dd>
        </dl>
    </div>
    <div class="share__embed-code">
        <textarea></textarea>
        <button class="btn" ng-click="">Copy embed code</button>
    </div>

    <div class="share__url">
        <textarea></textarea>
        <button class="btn" ng-click="">Copy URL</button>
    </div>
    <div style="clear:both"></div>
</div>
