<div>
    <div class="upper-strip" ng-click="showController = !showController">
        <div class="wrapper" dynamic-height>
            <div class="wrapper-inner big" ng-if="showController">
                <div class="title">{{ player.currentItem.title }}</div>
                <div class="subtitle">
                    Show <span ng-bind="player.currentShow.title"></span> looped by
                    <b></b><a href="/catalog/{{ author.username }}" target="_blank" class="upper-strip__author"> {{ author.username }}</a></b>
                </div>
            </div>
            <div class="wrapper-inner" ng-if="!showController">
                <banner lines="lines" transition="scroll" duration="5"></banner>
            </div>
        </div>
        <div class="avatar" ng-if="showController">
            <div class="background" ng-style="{'background-image': 'url('+avatar+')'}"></div>
            <div class="add-to-favs" ng-class="{'active': inFavorites}" ng-click="strip.addToFavs(); $event.stopPropagation();"><i class="fa fa-star"></i></div>
        </div>
        <div class="logo" ng-if="!showController" ng-switch="player.currentItem.provider_name">
            <a ng-switch-when="YouTube" ng-href="{{ player.currentItem.url }}" target="_blank">
                <i class="icon icon-sourceyoutube"></i>
            </a>
            <div  ng-switch-when="SoundCloud">
                <a ng-href="{{ player.currentItem.url }}" target="_blank"><i class="icon icon-sourcesoundcloud"></i></a>
                <a ng-href="http://giphy.com/search/{{player.currentShow.settings.giphyTags.split(',').join('-')}}" target="_blank">
                    <i class="icon icon-sourcegiphy"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="controllers" ng-if="showController">
        <div class="navigation">
            <div ng-click="strip.previousShow()"><i class="icon icon-ctrl-prevshow"></i></div>
            <div ng-click="strip.previousItem()"><i class="icon icon-ctrl-previtem"></i></div>
            <div ng-click="strip.playPause()" class="play">
                <i class="icon" ng-class="player.getStatus() === 'playing' ? 'icon-ctrl-pause' : 'icon-ctrl-play'"></i>
            </div>
            <div ng-click="strip.nextItem()"><i class="icon icon-ctrl-nextitem"></i></div>
            <div ng-click="strip.nextShow()"><i class="icon icon-ctrl-nextshow"></i></div>
            <div ng-click="player.toggleMute()">
                <i class="icon" ng-class="player.isMuted ? 'icon-ctrl-soundoff' : 'icon-ctrl-soundon'"></i>
            </div>
        </div>
        <div class="actions">
            <div ng-click="strip.toggleFullscreen()"><div class="icon icon-opt-fullscreen"></div></div>
        </div>
    </div>
    <div class="progress-bar" ng-click="strip.setPosition($event)">
        <div class="progression" ng-style="{width: progression + '%'}"></div>
    </div>
    <div class="lower-strip" ng-click="showController = !showController">
        <div class="wrapper" dynamic-height>
            <div class="wrapper-inner">
                <banner lines="underlines" transition="fade" duration="15"></banner>
            </div>
        </div>
        <time></time>
        <div style="clear:both"> </div>
    </div>
</div>
