.strip {
    margin: 0px 40px 40px 40px;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    .progress-bar {
        height: 5px;
        background-color: #E0DDDB;
        .progression {
            transition-duration: 1s;
            transition-property: width;
            background-color: #00A99D;
            opacity: 0.75;
            height: 100%;
        }
    }
    .controllers {
        position: relative;
        background: white;
        min-height: 30px;
        padding:15px;
        padding-left: 25px;
        font-family: 'Lekton';
        opacity: 0.70;
        .navigation {
            position: absolute;
            top: 23px;
            > div:nth-child(2) {
                margin-right: 60px;
            }
            > div {
                font-size: 8em;
                display: inline-block;
                font-size: 1.5em;
                cursor: pointer;
                margin-right: 20px;
                &:hover {
                    color: #00A99D;
                }
            }
        }
        .info {
            margin-left: 300px;
            span {
                font-size: 1.2em;
                font-weigh: 700;
            }
        }
    }
    .upper-strip {
        position: relative;
        background: white;
        min-height: 30px;
        padding:15px;
        padding-left: 25px;
        opacity: 0.90;
        .logo {
            position: absolute;
            right: 20px;
            top: 8px;
            font-size: 1.5em;
        }
        overflow: hidden;
        .wrapper {
            margin-right: 40px;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            .wrapper-inner {
                position: relative;
            }
        }
    }
    .lower-strip {
        color: white;
        padding: 12px;
        position: relative;
        background-color: #222;
        opacity: 0.95;
        .wrapper {
            font-family: 'Lekton';
            opacity: .8;
            margin-right: 74px;
            margin-left: 48px;
            font-size: 0.7em;
            line-height: 2em;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            .wrapper-inner {
                position: relative;
                a {
                    color: white;
                    font-weight: 400;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .logo {
            float: left;
            margin-left: 10px;
        }
        .time {
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 0.8em;
            font-weight: 400;
            line-height: 1.7em;
        }
    }
    transition-property: margin, opacity;
    transition-duration: 1s;
    &.reduced {
        margin: 0px 40px 0 40px;
        opacity: .7;
    }
    .ng-hide:not(.ng-hide-animate) {
        transition-property: opacity;
        transition-duration: .25s;
        display: block !important;
        opacity: 0;
    }
}
