.strip {
    margin: 0px 40px 40px 40px;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    display: block;
    .progress-bar {
        height: 5px;
        background-color: #E0DDDB;
        &:hover {
            height: 20px;
        }
        transition-property: height;
        transition-duration: .25s;
        cursor: pointer;
        .progression {
            transition-duration: .25s;
            transition-property: width;
            background-color: #00A99D;
            opacity: 0.75;
            height: 100%;
        }
    }
    .controllers {
        position: relative;
        background: white;
        min-height: 30px;
        padding:15px;
        padding-left: 25px;
        font-family: 'Lekton';
        opacity: 0.70;
        font-size: 1.5em;
        .navigation, .actions {
            > div {
                display: inline-block;
                cursor: pointer;
                &:hover {
                    color: #00A99D;
                }
            }
        }
        .navigation {
            position: absolute;
            > div {
                font-size: 1em;
                margin-right: 20px;
                &:nth-child(6) {
                    margin-left: 25px;
                }
            }
        }
        .actions {
            float: right;
        }
    }
    .upper-strip {
        position: relative;
        cursor: pointer;
        background: white;
        min-height: 30px;
        padding:15px;
        padding-left: 25px;
        opacity: 0.90;
        .avatar {
            position: absolute;
            right: 0;
            bottom: 0;
            .background {
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: gray;
            }
            &:hover {
                .add-to-favs:not(.active){opacity: 1;}
            }
            .add-to-favs {
                background-color: rgba(0, 0, 0, 0.37);
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                color: white;
                padding: 10px;
                &:not(.active){opacity: 0;}
                &:hover {
                    background-color: rgba(64, 191, 182, 0.43);
                }
                &.active {
                    color: #40BFB6;
                }
            }
        }
        .logo {
            position: absolute;
            right: 20px;
            top: -5px;
            i {font-size: 3em;}
            a {
                color: black;
                text-decoration: none;
            }
            span {
                font-size: .5em;
                padding: 5px;
            }
            img, i {
                vertical-align: middle;
            }
        }
        overflow: hidden;
        .wrapper {
            margin-right: 200px;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            .body {
                position: relative;
            }
            .wrapper-inner.big {
                position: relative;
                padding: 20px 0;
                color: #212121;
                .title {
                    font-weight: bold;
                    font-size: 1.6em;
                    padding: 20px 0;
                }
                .subtitle span {font-weight: bold;}
            }
        }
    }
    .lower-strip {
        color: white;
        padding: 12px;
        position: relative;
        background-color: #222;
        opacity: 0.95;
        .wrapper {
            font-family: 'Lekton';
            opacity: .8;
            margin-right: 74px;
            margin-left: 48px;
            font-size: 0.7em;
            line-height: 2em;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            .wrapper-inner {
                position: relative;
                a {
                    color: white;
                    font-weight: 400;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .logo {
            float: left;
            margin-left: 10px;
        }
        .time {
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 0.8em;
            font-weight: 400;
            line-height: 1.7em;
        }
    }
    transition-property: margin, opacity;
    transition-duration: 1s;
    &.reduced {
        margin: 0px 40px 0 40px;
        opacity: .7;
    }
    .ng-hide:not(.ng-hide-animate) {
        transition-property: opacity;
        transition-duration: .25s;
        display: block !important;
        opacity: 0;
    }
}
