<div class="strip">
    <div class="controllers">
        <div class="progress-bar"><div class="progression" ng-style="{width: progression + '%'}"></div></div>
        <div class="navigation">
            <div ng-click="strip.previousShow()"><i class="fa fa-angle-double-left"></i></div>
            <div ng-click="strip.previousItem()"><i class="fa fa-angle-left"></i></div>
            <div ng-click="strip.nextItem()"><i class="fa fa-angle-right"></i></div>
            <div ng-click="strip.nextShow()"><i class="fa fa-angle-double-right"></i></div>
        </div>
    </div>
    <div class="upper-strip">
        <div class="wrapper" dynamic-height>
            <div class="wrapper-inner"></div>
        </div>
        <div class="logo"><i class="fa {{ logo }}"></i></div>
    </div>
    <div class="lower-strip">
        <div class="logo">
            <i class="fa fa-twitter"></i>
        </div>
        <div class="wrapper" dynamic-height>
            <div class="wrapper-inner"></div>
        </div>
        <div class="time">
            {{ strip.time }}
        </div>
        <div style="clear:both"> </div>
    </div>
</div>
