.Strip {
    position: absolute;
    bottom: $stripMargin;
    left:   $stripMargin;
    right:  $stripMargin;
    opacity: 1;
    transition: opacity .25s 0s ease;
    @media (min-width: $screen-sm) {
        bottom: $stripMargin--Desktop;
        left:   $stripMargin--Desktop;
        right:  $stripMargin--Desktop;
    }
}

.Strip--hidden {
    transition: opacity 2s 1s ease;
    opacity: 0;
}
