.Strip {
    position: absolute;
    bottom: $stripMargin;
    left:   $stripMargin;
    right:  $stripMargin;
}


@media (min-width: $screen-sm) {
  .Strip {
      bottom: $stripMargin--Desktop;
      left:   $stripMargin--Desktop;
      right:  $stripMargin--Desktop;
  }
}
