.Strip {
    position: absolute;
    bottom: $stripMargin;
    left:   $stripMargin;
    right:  $stripMargin;
    transition: opacity .25s 0s ease;
    opacity: 1;
    @media (min-width: $screen-sm) {
        bottom: $stripMargin--Desktop;
        left:   $stripMargin--Desktop;
        right:  $stripMargin--Desktop;
    }
    .Browser {
        opacity: 1;
        transition: opacity .25s 0s ease;
    }
}

.Strip--fixed {
    opacity: 1 !important;
}
.Strip--hidden {
    opacity: 0;
    .Browser {
        transition: opacity 2s 1s ease;
        opacity: 0;
    }
}
