<div class="Loop">
    <div class="Loop__shows" infinit-scroll>
        <div class="show"
             ng-repeat="show in vm.shows"
             ng-class="{'show--current-show': $index === 0}"
             ng-style="{width: getWidth(show)}">
            <div class="show__body" ng-click="vm.stripService.open('show', show)">
                <div ng-if="$index === 0">Show playing now</div>
                <div ng-if="$index === 1">Show coming next</div>
                <div ng-if="$index > 1">Show</div>
                {{ show.title }} {{ $index }}
            </div>
            <div class="show__background"
                 ng-click="vm.player.playShow(show)"
                 ng-style="{'background-image': 'url(' + show.items[0].thumbnail + ')'}">
            </div>
        </div>
    </div>
</div>
