<div class="share">
    <div class="share__info">
        <dl>
            <dt>Share</dt>
            <dd ng-bind="vm.Player.currentItem.title"></dd>
            <dt>in the Show</dt>
            <dd ng-bind="vm.Player.currentShow.title"></dd>
            <dt>looped by</dt>
            <dd>user</dd>
        </dl>
    </div>
    <div class="share__embed-code">
        <textarea id="copyIframe"><iframe width="100%" height="715" src="{{ vm.link }}" frameborder="0" allowfullscreen></iframe></textarea>
        <button class="btn" ng-click="vm.copyToClipboard(angular.element('#copyIframe'))">Copy embed code</button>
    </div>

    <div class="share__url">
        <textarea id="copyLink">{{ vm.link }}</textarea>
        <button class="btn" ng-click="vm.copyToClipboard(angular.element('#copyLink'))">Copy URL</button>
    </div>
    <div style="clear:both"></div>
</div>
