<div class="Show" ng-class="{'Show--playing-now': vm.playingNow}">
    <div class="Show__wrapper row">
      <div class="col-xs-12">
          <div class="Show__cover">
              <div class="Show__cover__close" ui-sref="index.loop">
                  <i class="material-icons">close</i>
              </div>
              <div class="Show__cover__title" ng-bind="vm.show.title"></div>
              <div class="Show__cover__playing-now" ng-if="vm.playingNow">Show playing now</div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-7">
            <div class="Show__body">
                <table>
                    <tr ng-repeat="item in vm.show.items">
                        <td class="title">
                            <div class="cell" ng-click="vm.player.playShow(vm.show, $index)">
                                <i ng-if="vm.player.currentItem === item" class="fa fa-play-circle" aria-hidden="true"></i>
                                <span class="index">
                                    <span ng-if="$index < 9">0</span>{{ $index + 1 }}
                                </span>
                                {{ item.title }}<br/>
                                by {{ vm.show.user }} from {{ item.provider_name }}
                            </div>
                        </td>
                        <td class="actions">
                            <div class="cell">
                                <a ng-href="{{ item.url }}" target="_blank">
                                    <i class="fa fa-{{item.provider_name | lowercase}}"></i>
                                </a>
                                <span class="action action--plus" ng-click="vm.addToAShow()">
                                    <add-to-show-menu></add-to-show-menu>
                                <span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <div class="Show__illu"
               ng-click="vm.player.playShow(show)"
               ng-style="{'background-image': 'url(' + vm.show.items[0].thumbnail + ')'}">

    </div>
</div>
