<div class="Show row" ng-class="{'Show--playing-now': vm.playingNow}">
    <div class="Show__cover row">
        <div class="col-xs-11">
            <span class="Show__cover title" ng-bind="vm.show.title"></span></br>
            <span class="Show__cover details" ng-if="vm.playingNow">Show Playing Now</span>
        </div>
        <div class="Show__cover actions col-xs-1">
                <i class="material-icons" ui-sref="index.open.loop">close</i>
        </div>
    </div>
    <div class="Show__listItems list-group col-xs-12 col-md-8">
        <a class="Show__listItems__item list-group-item" ng-repeat="item in vm.show.items">
            <div class="list-group-item-heading" ng-click="vm.player.playShow(vm.show, $index)">
                <i ng-if="vm.player.currentItem === item" class="material-icons">plause_circle_outline</i>
                <span class="index">
                    <span ng-if="$index < 9">0</span>{{ $index + 1 }}
                </span>
                {{ item.title }}<br/>
                by {{ vm.show.user }} from {{ item.provider_name }}
            </div>
            <!--<h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>-->
        </a>
    </div>
    <!-- <div class="Show--edit  col-xs-12"></div> -->
    <div class="Show__illu col-xs-12 col-md-4" ng-click="vm.player.playShow(show)">
    </div>
</div>
