.Show {
    max-height: 60vh;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;     // ex .wrapper
    //overflow: hidden;           // ex .wrapper
    position: relative;         // ex .wrapper

    &__cover {
        font-family: @FONT1;
        width: 100% ;
        min-height: @UPPER_STRIP_HEIGHT;
        color: @text-color;
        background-color: @body-bg;
        top: @line-height-computed * 2;
        bottom: @line-height-computed * 2;
        box-sizing: padding-box;
        // z-index: 1000;
        .title {
            font-size: 1.8em;
            font-weight: bold;
            position: relative;
            vertical-align: middle;
            z-index:1000;
        }
        .details {
            font-size: 1em;
            position: relative;

        }
        .actions {
            position: absolute;
            text-align: right;
            &:hover{color:blue;}
        }
    }
    &__listItems, &__illu { // same height
        min-height: 500px;
    }

    &__illu {
        background-color: purple;
        position: relative;
    }

    &__listItems {
        font-family: @FONT2;
        //width: 100%;
        background-color: fade(@body-bg, 80);
        // padding-top: (@line-height-computed * 2);
        &__item {
            .title {}
            .details {}
            .actions {}
        }
    }
    &--playingNow {}
    &--edit {}
}


.Loop {
    background-color: @LOW_OPACITY_BACKGROUND;
    font-size: 1.4em;
    .infinit-scroll__item {
        display: inline-block;
    }
    &__shows {
        white-space: nowrap;
        overflow-y: auto;
    }
    &__show {
        position: relative;
        width: 200px;
        height: @LOOP_SHOW_HEIGHT;
        margin-right: 10px;

        display: inline-block;
        overflow: hidden;
        &__body {
          font-family: @FONT2;
            background-color: @body-bg;
            z-index: 1;
            position: relative;
            white-space: normal;
            font-size: .65em;
            padding: 20px;
            height: 120px ;
            // height: @LOOP_SHOW_HEIGHT / 3;
            .title {
                font-family: @FONT1;
                height: 42px; // must be 2 lines of text height
                overflow: hidden;
                /* font-weight: bold; */
                font-size: 1.3em;
            }
        }
        &__background {
            z-index: 0;
            background-size: cover;
            background-position: top center;
            height: (@LOOP_SHOW_HEIGHT + 30px); // (@LOOP_SHOW_HEIGHT / 3) * 2;
            // height: 330px;
            position: relative;
            top: (@CELL_HEIGHT * -1);  //-50px
        }
        &--current-show {
            width: 420px !important; //@CURRENT_SHOW_WIDTH
            min-height: 250px;
            position: relative;
            background-color: fade(@brand-primary, 80);
            background-blend-mode: multiply;
            .Loop__show__body {
                background-color: transparent;
                font-size: 1em;
                color: white ; // @body-bg;
                .title {
                    height: auto;
                    margin-bottom: 50px;
                }
            }
            .Loop__show__background {
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: .3;
            }
        }
    }
}
