@SHOW_COVER_COLOR: rgb(63, 61, 61);
@PLAYING_NOW_COLOR: blue;
@CELL_HEIGHT: 50px;

.Show {
    max-height: 50vh;
    width: 100%;
    overflow-y: auto;
    &__wrapper {
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }
    &--playing-now &__cover {
        background-color: fade(@PLAYING_NOW_COLOR, 90%);
    }
    &__cover, &__body { // same height
        min-height: 200px;
        padding-bottom: 99999px;
        margin-bottom: -99999px;
    }
    &__cover {
        position: relative;
        padding-left: 40px;
        padding-top: 40px;
        padding-right: 40px;
        color: white;
        background-color: fade(@SHOW_COVER_COLOR, 90%);
        width: 100%;
        box-sizing: padding-box;
        &__title {
            font-size: 2em;
            font-weight: bold;
        }
        &__close {
            position: absolute;
            right: 20px;
            font-size: 2em;
            top: 20px;
        }
    }
    &__body {
        font-family: @FONT2;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        table {
            width: 100%;
            border-spacing:0;
            border-collapse: collapse;
            .cell {
                height: @CELL_HEIGHT;
                overflow: hidden;
                white-space: nowrap;
            }
            .cover {
                text-align: right;
                img {
                    height: @CELL_HEIGHT;
                }
            }
            .actions {
                position: relative;
                top: 14px;
            }
            .title {
                .cell {
                    width: 30vw;
                    text-overflow: ellipsis;
                }
                padding-left: 40px;
                position: relative;
                .index {
                    position: absolute;
                    left: 10px;
                }
                i {
                    font-size: 2em;
                    color: @PLAYING_NOW_COLOR;
                    top: 18px;
                    left: 5px;
                    position: absolute;
                }
            }
        }
    }
}
@LOOP_SHOW_HEIGHT: 300px;
.Loop {
    background-color: @LOW_OPACITY_BACKGROUND;
    font-size: 1.4em;
    .infinit-scroll__item {
        display: inline-block;
    }
    &__shows {
        white-space: nowrap;
        overflow-y: auto;
    }
    &__show {
        position: relative;
        width: 200px;
        height: @LOOP_SHOW_HEIGHT;
        margin-right: 10px;

        display: inline-block;
        overflow: hidden;
        &__body {
            background-color: white;
            z-index: 1;
            position: relative;
            white-space: normal;
            font-size: .7em;
            padding: 10px;
            height: @LOOP_SHOW_HEIGHT / 3;
            .title {
                height: 42px; // must be 2 lines of text height
                overflow: hidden;
            }
        }
        &__background {
            z-index: 0;
            background-size: cover;
            height: (@LOOP_SHOW_HEIGHT / 3) * 2;
        }
        &--current-show {
            width: 300px !important;
            min-height: 250px;
            position: relative;
            background-color: black;
            .Loop__show__body {
                background-color: transparent;
                font-size: 1em;
                color: white;
                .title {
                    height: auto;
                }
            }
            .Loop__show__background {
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: .3;
            }
        }
    }
}
