<div>
    <div class="strip-body" ng-if="vm.stripService.showController">
        <l8pr-explore-loop></l8pr-explore-loop>
    </div>
    <div class="upper-strip"
         ng-class="{'upper-strip--extended': vm.stripService.showController}">
        <div class="controllers" ng-if="vm.stripService.showController">
            <div class="navigation">
                <div ng-click="vm.previousShow()"><i class="icon icon-ctrl-prevshow"></i></div>
                <div ng-click="vm.previousItem()"><i class="icon icon-ctrl-previtem"></i></div>
                <div ng-click="vm.nextItem()"><i class="icon icon-ctrl-nextitem"></i></div>
                <div ng-click="vm.nextShow()"><i class="icon icon-ctrl-nextshow"></i></div>
                <div ng-click="player.toggleMute()">
                    <i class="icon" ng-class="player.isMuted ? 'icon-ctrl-soundoff' : 'icon-ctrl-soundon'"></i>
                </div>
            </div>
            <div class="actions">
                <div ng-click="vm.stripService.autoHideToggle()" class="auto-hide" ng-class="{'active': vm.stripService.isAutoHideEnabled}">
                    <div class="icon" ng-class="vm.stripService.isAutoHideEnabled === true ? 'icon-opt-stripoff' : 'icon-opt-stripon'"></div>
                </div>
                <div ng-click="vm.toggleFullscreen()" class="fullscreen" ng-class="{'active': vm.isFullScreen()}"><div class="icon icon-opt-fullscreen"></div></div>
                <div class="current-user" ng-if=vm.login.currentUser>
                    <img ng-src="{{vm.login.currentUser.profile.avatar}}"/>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="wrapper-inner">
                <banner lines="vm.upperStrip.banner" transition="scroll" duration="5"></banner>
            </div>
        </div>
        <div ng-if="!vm.stripService.showController"
             class="toggle-controller icon icon-opt-loop"
             ng-click="vm.stripService.toggleController()">
        </div>
    </div>
    <div class="progress-bar" ng-click="vm.setPosition($event)">
        <div class="progression" ng-style="{width: progression + '%'}"></div>
    </div>
    <div class="lower-strip" ng-click="vm.stripService.toggleController()" ng-if="vm.lowerStrip.banner.length > 0">
        <div class="wrapper">
            <div class="wrapper-inner">
                <banner lines="vm.lowerStrip.banner" transition="fade" duration="15"></banner>
            </div>
        </div>
        <time></time>
        <div style="clear:both"> </div>
    </div>
</div>
