.strip {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    display: block;
    .progress-bar {
        height: 5px;
        background-color: #E0DDDB;
        opacity: 0.5;
        &:hover {
            height: 15px;
            opacity: 0.80;
        }
        transition-property: height;
        transition-duration: .25s;
        cursor: pointer;
        .progression {
            transition-duration: .25s;
            transition-property: width;
            background-color: #00A99D;
            opacity: 0.8;
            height: 100%;
        }
    }
    .controllers {
        position: relative;
        background: white;
        min-height: 30px;
        padding:15px;
        padding-left: 25px;
        font-family: 'Lekton';
        opacity: 0.70;
        font-size: 1.5em;
        .navigation, .actions {
            > div {
                display: inline-block;
                cursor: pointer;
                &:hover {
                    color: #00A99D;
                }
            }
        }
        .navigation {
            position: absolute;
            letter-spacing: -0.4em;
            > div {
                font-size: 1em;
                margin-right: 20px;
                &:nth-child(6) {
                    margin-left: 25px;
                }
            }
        }
        .actions {
            float: right;
            // padding-right: 5px;
            letter-spacing: 10px;
        }
    }
    .upper-strip {
        position: relative;
        cursor: pointer;
        background: white;
        min-height: 30px;
        padding:15px;
        padding-left: 25px;
        opacity: 0.95;
        &__author {
            color: #000000;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
        }
        }
        .list-show {
            position: absolute;
            bottom: 10px;
            right: 95px;
            font-size: 1.5em;
        }
        .avatar {
            position: absolute;
            right: 0;
            bottom: 0;
            .background {
                width: 70px;
                height: 70px;
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: gray;
            }
            &:hover {
                .add-to-favs:not(.active){opacity: 1;}
            }
            .add-to-favs {
                background-color: rgba(0, 0, 0, 0.37);
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                color: white;
                &:not(.active){opacity: 0;}
                &:hover {
                    background-color: rgba(64, 191, 182, 0.43);
                }
                &.active {
                    color: #40BFB6;
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
        .logo {
            position: absolute;
            right: 10px;
            top: 8px;
            letter-spacing: -0.25em;
            opacity: 0.65;
            font-size: 0.9em;

            i {font-size: 3em;}
            a {
                color: black;
                text-decoration: none;
            }
            span {
                font-size: .5em;
                padding: 5px;
            }
            img, i {
                vertical-align: middle;
            }
            &:hover {
                    opacity: 0.82;
            }
        }
        overflow: hidden;
        .wrapper {
            margin-right: 200px;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            margin-bottom: 5px;
            margin-top: 10px;
            .body {
                position: relative;
            }
            .wrapper-inner.big {
                position: relative;
                color: #212121;
                padding: 10px;
                padding-bottom: 5px;
                .title {
                    font-weight: bold;
                    font-size: 1.8em;
                    padding-bottom: 20px;
                    line-height: 1.4em;
                }
                .subtitle span {font-weight: bold;}
            }
        }
    }
    .lower-strip {
        min-height: 30px;
        color: white;
        padding: 12px;
        position: relative;
        background-color: #222;
        opacity: 0.95;
        .wrapper {
            font-family: 'Lekton';
            opacity: .8;
            margin-right: 74px;
            margin-left: 15px;
            font-size: 0.7em;
            line-height: 2em;
            transition-duration: 1s;
            transition-property: height;
            .wrapper-inner {
                position: relative;
                p {padding: 0; margin: 0; display: inline-block;}
                a {
                    color: white;
                    font-weight: 400;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .rss, .tweet {
                    padding-left: 25px;
                    i {
                        position: absolute;
                        left: -10px;
                        font-size: 2em;
                    }
                }
            }
        }
        .time {
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 0.8em;
            font-weight: 400;
            line-height: 1.7em;
            letter-spacing: 0.05em;
            opacity: 0.9;
        }
    }
    transition-property: margin, opacity;
    transition-duration: 1s;
    &.reduced {
        margin: 0px 40px 0 40px;
        opacity: .7;
    }
    .ng-hide:not(.ng-hide-animate) {
        transition-property: opacity;
        transition-duration: .25s;
        display: block !important;
        opacity: 0;
    }
    // actions state button
    .list-show .active {color: @GREEN;}
    .fullscreen.active {opacity: 1;}
    .fullscreen:not(.active) {opacity: .6;}
    .share.active {color: @GREEN;}
    .auto-hide.active {opacity: 1;}
    .auto-hide:not(.active) {opacity: .6;}
}
