@UPPER_STRIP_HEIGHT: 74px;
[ng-click] {
    cursor: pointer;
}
.strip {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    display: block;
    .icon {
        &:hover {
            color: #00A99D;
        }
    }
    .progress-bar {
        height: 5px;
        background-color: #E0DDDB;
        opacity: 0.5;
        &:hover {
            height: 15px;
            opacity: 0.80;
        }
        transition-property: height;
        transition-duration: .25s;
        cursor: pointer;
        .progression {
            transition-duration: .25s;
            transition-property: width;
            background-color: #00A99D;
            opacity: 0.8;
            height: 100%;
        }
    }
    .upper-strip {
        position: relative;
        height: @UPPER_STRIP_HEIGHT;
        overflow: hidden;
        &--extended {
            .wrapper .body {
                max-height: 55px;
                overflow: hidden;
                font-size: 0.8em;
            }
        }
        .wrapper {
            line-height: @UPPER_STRIP_HEIGHT;
            height: @UPPER_STRIP_HEIGHT;
            background-color: white;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            .wrapper-inner {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                .body {
                    position: relative;
                    margin-bottom: 10px;
                    margin-left: 25px;
                    margin-right: 60px;
                }
            }
        }
        .toggle-controller { // btn
            position: absolute;
            top: 50%;
            margin-top: -15px;
            right: 20px;
            font-size: 1.4em;
        }
        .controllers {
            float: right;
            font-size: 1.5em;
            background-color: rgba(218, 212, 212, 0.69);
            .navigation, .actions {
                display: inline-block;
                & > div {
                    display: inline-block;
                }
            }
            .icon {
                position: relative;
                top: 8px;
            }
        }
        .current-user img {
            vertical-align: middle;
            height: @UPPER_STRIP_HEIGHT;
        }
    }
    .lower-strip {
        min-height: 30px;
        color: white;
        padding: 12px;
        position: relative;
        background-color: #222;
        opacity: 0.95;
        .wrapper {
            font-family: 'Lekton';
            opacity: .8;
            margin-right: 74px;
            margin-left: 15px;
            font-size: 0.7em;
            line-height: 2em;
            transition-duration: 1s;
            transition-property: height;
            .wrapper-inner {
                position: relative;
                p {padding: 0; margin: 0; display: inline-block;}
                a {
                    color: white;
                    font-weight: 400;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .rss, .tweet {
                    padding-left: 25px;
                    i {
                        position: absolute;
                        left: -10px;
                        font-size: 2em;
                    }
                }
            }
        }
        .time {
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 0.8em;
            font-weight: 400;
            line-height: 1.7em;
            letter-spacing: 0.05em;
            opacity: 0.9;
        }
    }
    transition-property: margin, opacity;
    transition-duration: 1s;
    &.reduced {
        margin: 0px 40px 0 40px;
        opacity: .7;
    }
    .ng-hide:not(.ng-hide-animate) {
        transition-property: opacity;
        transition-duration: .25s;
        display: block !important;
        opacity: 0;
    }
    // actions state button
    .list-show .active {color: @GREEN;}
    .fullscreen.active {opacity: 1;}
    .fullscreen:not(.active) {opacity: .6;}
    .share.active {color: @GREEN;}
    .auto-hide.active {opacity: 1;}
    .auto-hide:not(.active) {opacity: .6;}
}
