.strip {
    display: block;
    .icon:hover {color: @brand-primary;}
    &__body {
        overflow-y: auto;
        max-height: 45vh;
    }
    &__controls {
        position: relative;
        height: @UPPER_STRIP_HEIGHT;
        // title + btn for toggle controller
        > .row:first-child {
            > div {background-color: @body-bg; height: @UPPER_STRIP_HEIGHT;}
        }
        &--extended {
            > .row:first-child {
                div:nth-child(2) {
                    background-color: fade(@body-bg, 55);
                    font-size: 0.2em !important;
                }
            }
        }
        .banner {
            height: @UPPER_STRIP_HEIGHT;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            .banner-inner {
                padding-top: 20px;
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                .body {
                    position: relative;
                }
            }
        }
        i { // btn
            top: 15px;
            position: relative;
        }
        .progress {

            margin-bottom: 0px;
        }
    }
//     // actions state button
//     .list-show .active {color: @GREEN;}
//     .fullscreen.active {opacity: 1;}
//     .fullscreen:not(.active) {opacity: .6;}
//     .share.active {color: @GREEN;}
//     .auto-hide.active {opacity: 1;}
//     .auto-hide:not(.active) {opacity: .6;}
}
