.strip {
    display: block;
    .icon:hover {color: @brand-primary;}
    &__body {
        max-height: @STRIP_MAX_HEIGHT;
    }
    &__controls {
        box-shadow: 0px -10px 20px @SHADOW;
        position: relative;
        //height: @UPPER_STRIP_HEIGHT;
        // title + btn for toggle controller
        > .row:first-child {
            > div {background-color: @body-bg; height: @UPPER_STRIP_HEIGHT;}
        }
        &--extended {
            > .row:first-child {
                div:nth-child(2) {
                    background-color: fade(@body-bg, 85);
                    //filter: blur(50px);
                }
            }
        }
        .banner {
            //min-height: @UPPER_STRIP_HEIGHT;
            //padding: (@MARGE * 2) (@MARGE * 2) !important;
            transition-duration: 1s;
            transition-property: height;
            overflow: hidden;
            padding-left: 22px !important;
            padding-right: 20px !important;
            .banner__playButton {
                color: @brand-primary;
            }
            .banner__title {
                //display: inline-block;
                //vertical-align: middle;
                //padding: (@MARGE * 3) (@MARGE * 3) !important;
                line-height: normal;
                font-size: 120%;
                padding-top: 18px;
                .text-left;
                @media (min-width: @screen-md){
                    margin-left: -20px;
                }
            }
            .closedNav {
                padding-left: 20px !important;
            }
        }
        .controller {
            padding-right: @MARGE !important;
            &__prevPlayNext {
                padding-left: 20px !important;
            }
            &__display {
                background-color: fade(@body-bg, 0) !important;
            }
            &__toggle {
                float: right;
                padding-right: 20px !important;
            }
        }
        i {
            top: (@UPPER_STRIP_HEIGHT / 3);
            position: relative;

        }
        i.sm.material-icons {
        }
        .progress {
            margin-bottom: 0px;
        }
    }
//     // actions state button
//     .list-show .active {color: @GREEN;}
//     .fullscreen.active {opacity: 1;}
//     .fullscreen:not(.active) {opacity: .6;}
//     .share.active {color: @GREEN;}
//     .auto-hide.active {opacity: 1;}
//     .auto-hide:not(.active) {opacity: .6;}
}
