<div class="modal-header">
    <h3 class="row modal-title">Login</h3>
</div>
<uib-tabset type="pills" active="vm.active">
    <uib-tab index="0" heading="Sign in" classes="btn-md">
        <div class="modal-body">
            <h2 class="form-signin-heading">Please sign in</h2>
            <form name="vm.loginForm" id="loginForm" ng-submit="vm.login()" novalidate>
                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input ng-model="vm.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input ng-model="vm.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <span class="help-block" ng-if="vm.loginError">Username or passwrd is wrong.</span>
                <a ng-click="vm.active = 2">I forgot my password</a>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
            <button class="btn btn-info" type="submit" form="loginForm" ng-disabled="vm.loginForm.$invalid">Sign in</button>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Create an account" classes="btn-md">
        <div class="modal-body">
            <h2 class="form-signin-heading">Create an account</h2>
            <form name="vm.registerForm" novalidate>
                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input ng-model="vm.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input ng-model="vm.email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input ng-model="vm.password" type="password" id="inputPassword" class="form-control" placeholder="password" required>
                </div>
                <span class="help-block" ng-if="vm.registerErrors">
                    <div ng-repeat="(name, errors) in vm.registerErrors">
                        {{name}}: <span ng-repeat="error in errors">{{ error }} </span>
                    </div>
                </span>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
            <button class="btn btn-info" type="submit" ng-click="vm.create()" ng-disabled="vm.registerForm.$invalid">Create</button>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Forgot password" classes="btn-md">
        <div class="modal-body">
            <h2 class="form-signin-heading">Recover password</h2>
            <form name="vm.recoverForm" id="recoverForm" ng-submit="vm.recover()" novalidate>
                <label for="inputEmail">Email</label>
                <input ng-model="vm.email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>
                <span class="help-block" ng-if="vm.recoverErrors">
                    <div ng-repeat="(name, errors) in vm.recoverErrors">
                        {{name}}: <span ng-repeat="error in errors">{{ error }} </span>
                    </div>
                </span>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
            <button class="btn btn-info" type="submit" form="recoverForm" ng-disabled="vm.recoverForm.$invalid">Send Email</button>
        </div>
    </uib-tab>
</uib-tabset>
