<div class="modal-header">
    <h3 class="row modal-title">Login</h3>
</div>
<form class="form-signin">
    <div class="modal-body">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputUsername" class="sr-only">Username</label>
            <input ng-model="vm.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="vm.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-info" type="submit" ng-click="vm.login()">Sign in</button>
    </div>
</form>
