.main_loop {
    margin-left: @NAV_WIDTH;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #40BFB6;
    height: @HEADER_HEIGHT;
    padding-left: 30px;
    li {
        float: left;
        list-style: none;
        padding: 0 8px;
    }

    &__info {
        position: absolute;
        float: right;
        right:0px;
        top: 0px;
        bottom: 0px;
        color: white;
        font-size: 1.8em;
        line-height: 1.5em;
        padding: 30px;
        text-align: right;
        background-color: rgba(0,170,160,0.6);
    }
    .adding-placeholder:last-child {
        width: 60px;
    }
    .adding-placeholder {
        display: none;
        background-color: #FF00FF;
        &:hover {
            background-color: #FF0099;
        }
        height: @HEADER_HEIGHT;
        float: left;
        width: 30px;
        cursor: pointer;
    }
    &.adding-mode {
        li {padding: 0px 20px 0px 0px;}
        .adding-placeholder {
            display: block;
            width: 38px;
            margin-left: -30px;
        }
    }
    .Show {
        float: left;
        max-width: 125px;
        height: @HEADER_HEIGHT;
        overflow: hidden;
    }
}
