.main_loop {
    margin-left: @NAV_WIDTH;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #40BFB6;
    height: @HEADER_HEIGHT;
    li {
        float: left;
        list-style: none;
        padding: 0 5px;
    }

    &__info {
        position: absolute;
        float: right;
        right:20px;
        top: 0;
        bottom: 0;
        color: white;
        font-size: 1.6em;
        padding-top: 20px;
    }
    .adding-placeholder:last-child {
        width: 60px;
    }
    .adding-placeholder {
        display: none;
        background-color: #AD5FAD;
        &:hover {
            background-color: #C234C2;
        }
        height: @HEADER_HEIGHT;
        float: left;
        width: 20px;
        cursor: pointer;
    }
    &.adding-mode {
        li {padding: 0px 0px;}
        .adding-placeholder {
            display: block;
        }
    }
    .show {
        float: left;
        max-width: 125px;
        height: @HEADER_HEIGHT;
        overflow: hidden;
    }
}
