<div class="main_loop" ng-class="{'adding-mode': loopCtrl.addingMode}">
    <ul>
        <li ng-repeat="show in loopCtrl.loop.shows" ng-click="openShow(show)">
            <div class="adding-placeholder" ng-click="loopCtrl.addAtPosition($index); $event.stopPropagation();"></div>
            <div class="Show" resizable ng-style="{width: (windowWidth - 450) / {{loopCtrl.loop.shows.length}}+'px'}">
                <div class="Show__illustration">
                    <div class="Show__illustration" style="background-image:url({{show.links[0].thumbnail}})">
                </div>
                <div class="bottom">
                    <div class="action__outloop" ng-click="loopCtrl.deleteFromLoop($index)"><i class="fa fa-chain-broken"></i>
</div>
                    <div class="Show__title"><a>{{ show.title }}</a></div>
                    <div class="Show__info">{{ show.duration() | seconds }}
                        <span class="right">
                            <span ng-if="show.type === 'VideoShow'"><i class="fa fa-youtube"></i></span>
                            <span ng-if="show.type === 'MusicShow'"><i class="fa fa-soundcloud"></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <div class="adding-placeholder" ng-click="loopCtrl.addAtPosition(loopCtrl.loop.shows.length); $event.stopPropagation();"></div>
    </ul>
    <div class="main_loop__info">
        <div>{{ loopCtrl.loop.shows.length }} Shows online</div>
        <div><i> Loop {{ loopCtrl.loop.duration() | seconds }}</i></div>
    </div>
</div>
