<soundcloud-viz ng-if="vm.Player.currentItem.provider_name == 'SoundCloud'"
                soundcloud-item="vm.Player.currentItem">
</soundcloud-viz>
<youtube ng-if="vm.Player.currentItem.provider_name == 'YouTube'"
         item="vm.Player.currentItem">
</youtube>
<div class="overlay"
     ng-mousemove="vm.showAndHideStrip()"
     auto-hide-cursor
     ng-click="vm.Player.playPause()">
</div>
<div class="container-fluid strip">
    <div ui-view="header" ng-if="vm.$state.current.views.header"></div>
    <div class="strip__body row" ng-if="vm.stripService.showController">
        <div ui-view="body"></div>
    </div>
    <div class="strip__controls" ng-class="{'strip__controls--extended': vm.stripService.showController}">
        <div class="row" ng-if="vm.stripService.showController">
            <div class="banner col-xs-12 col-sm-9">
                <div class="banner-inner">
                    <banner lines="vm.upperStrip.banner" transition="scroll" duration="10"></banner>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                <span ng-click="vm.previousShow()"><i class="material-icons">first_page</i></span>
                <span ng-click="vm.previousItem()"><i class="material-icons">chevron_left</i></span>
                <span ng-click="vm.Player.playPause()"><i class="material-icons">play_arrow</i></span>
                <span ng-click="vm.nextItem()"><i class="material-icons">chevron_right</i></span>
                <span ng-click="vm.nextShow()"><i class="material-icons">last_page</i></span>
                <span ng-click="vm.Player.toggleMute()">
                    <i class="material-icons">{{ vm.Player.isMuted ? 'volume_off' : 'volume_up' }}</i>
                </span>
                <span ng-click="vm.stripService.autoHideToggle()" class="auto-hide" ng-class="{'active': vm.stripService.isAutoHideEnabled}">
                    <i class="fa" ng-class="vm.stripService.isAutoHideEnabled === true ? 'fa-moon-o' : 'fa-sun-o'"></i>
                </span>
                <span ng-click="vm.toggleFullscreen()" class="fullscreen" ng-class="{'active': vm.isFullScreen()}"><i class="material-icons">fullscreen</i><</span>
                <i class="toggle-controller material-icons" ng-click="vm.stripService.toggleController()">keyboard_arrow_up</i>
            </div>
        </div>
        <div class="row" ng-if="!vm.stripService.showController">
            <div class="banner col-xs-10">
                <div class="banner-inner">
                    <banner lines="vm.upperStrip.banner" transition="scroll" duration="5"></banner>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <i class="toggle-controller material-icons" ng-click="vm.stripService.toggleController()">keyboard_arrow_down</i>
            </div>
        </div>
        <!-- progress bar -->
        <div class="row">
            <div class="col-xs-12">
                <div class="progress" ng-click="vm.setPosition($event)">
                    <div class="progress-bar"
                         role="progressbar"
                         aria-valuenow="{{ vm.Player.currentPosition }}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         ng-style="{width: vm.Player.currentPosition + '%'}">
                    </div>
                </div>
            </div>
        </div>
        <!-- end: progress bar -->
    </div>
    <div class="strip__feed row">
        <div class="lower-strip" ng-click="vm.stripService.toggleController()" ng-if="vm.lowerStrip.banner.length > 0">
            <div class="banner">
                <div class="banner-inner">
                    <banner lines="vm.lowerStrip.banner" transition="fade" duration="15"></banner>
                </div>
            </div>
            <time></time>
            <div style="clear:both"> </div>
        </div>
    </div>
</div>
