.StripHeader {
    background-color: white;
    padding: 5px 20px;
    color: $colorPlaying;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.StripHeader__title {
    margin-right: 20px;
}
