@NAV_WIDTH: 150px;
@RIGHT_NAV_WIDTH: 250px;
@HEADER_HEIGHT: 175px;

body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
}
a, a[ng-click], a:visited, a:active {
    text-decoration: none;
    cursor: pointer;
    color: black;
    // font-weight: 400;
    &:hover {
        text-decoration: underline;
    }
}
h2 {
    font-family: "Montserrat";
    font-size: 2em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666;
}
ul {margin: 0; padding: 0}
li {
    list-style: none;
    
}

nav {
    position: absolute;
    bottom: 0;
    .wrapper {
        padding: 20px;
        line-height: 1.3em;
    }
    position: fixed;
    li {padding:0 0 10px 0;}
}
nav.left {
    z-index: 20;
    top:0;
    left: 0;
    width: @NAV_WIDTH;
    box-sizing: border-box;
    padding: 50px 20px 0 20px;
    background-color: #1A1A1A;
    .logo {
        position: relative;
        left: -40px;
        top: -60px;
        height: 150px;
        width: 150px;
        img {
            position: absolute;
        }
        &:hover {
            img:nth-child(2) {
                display: none;
            }
        }
    }
    .active a {
        font-weight: 400;
        text-decoration:underline;
        color: #FFF;
        cursor: default;
    }
    a {color: white;}
    color: white;
}
nav.right {
    z-index: 10;
    top:0;
    right: 0;
    width: @RIGHT_NAV_WIDTH;
    box-sizing: border-box;
    background-color: #E6E6E1;
    overflow: auto;
    line-height: 1.3em;
    .block {
        padding: 20px 10px 30px 30px;
    }
    .first-block {
        margin-top: @HEADER_HEIGHT;
        padding: 40px 10px 25px 35px;
        background-color: #F2F2ED;
    }
    .active a {
        font-weight: 400;
    //    text-decoration:underline;
        color: #000;
        cursor: default;
        &:hover {
        font-weight: 700;
        color: #00BBB6;
        }
    }
    // a {
    //     color: #000;
    // }
}
.content {
    margin: 40px 20px 20px @NAV_WIDTH + 30px;
    &.in-frame {
        margin-top: @HEADER_HEIGHT + 40px;
        margin-right: @RIGHT_NAV_WIDTH + 20px;
    }
    .type-show {
        color: #00A99D;  
        opacity: 0.9;
        font-size: 1.2em;
        font-style: italic;
    }
    input[type="text"], input[type="password"], input[type="email"] {
        border: 0px none;
        background-color: #E6E6E1;
        padding: 15px;
        margin-bottom: 20px;
        min-width: 400px;
        display: block;
        opacity: .9;
    }
    label + input[type="text"] {
        float: left;
    }
    label {
        display: block;
        color: #00BBB6;
    }
    button {
        &:hover {
            // opacity: 0.8;
            cursor: pointer;
            color: #00A99D;
            background-color: #222222;
        }
        height: 44px;
        width: 90px;
        background-color: #00A99D;
        border: 0px;
        color: #222;
        padding: 10px;
        font-weight: 400;
        font-size: 1em;
        font-style: italic;
        opacity: 0.8;
        &:disabled {
            opacity:.4;

        }
    }
    table {
        z-index: 1;
        position: relative;
        clear: both;
        // table-layout: fixed;
        width: 100%;
        border-spacing:0;
        border-collapse: collapse;
    }
    tr {
        width: 100%;
        position: relative;
        &:hover {
            font-weight: bold;
            .reorder {display:inline;}
            .index {display:none;}
            td, td:first-child:before, td:last-child:after {
                background-color: #FE5667;
            }
        }
        th {text-align: left;}
        td {
            padding-right: 20px;
            padding-bottom: 5px;
            padding-top:6px;
            position: relative;
            &:nth-child(4) {
                white-space:nowrap;
            }
            &.title div {
                max-height: 20px;
                overflow: hidden;
            }
            .reorder {display: none;}
            .index {display: inline;}
        }
        td:first-child:before,
        td:last-child:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100vw;
            display: block;
            border: inherit;
        }
        td:first-child:before {
            right: 100%;
        }
        td:last-child:after {
            left: 100%
        }
    }
}
@import "../strip/strip.less";
@import "loop/loop.less";
@import "show.less";
@import "login/login.less";
@import "account/style.less";
@import "edit-show/style.less";
// @import "edit-video-show/edit-video-show.less";
// @import "edit-music-show/edit-music-show.less";
@import "shows-list/shows-list.less";
@import "edit-strip/edit-strip.less";
@import "../../bower_components/components-font-awesome/less/font-awesome.less";
@fa-font-path: "/static/bower_components/components-font-awesome/fonts";
