.Browser {
    transition-duration: 1s;
    transition-property: height;
    height: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.Browser--open {
    height: 55vh;
}
