.Suggestions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: $secondaryFont;
    @media (min-width: $screen-sm) {
        flex-wrap: nowrap;
    }
}
.Suggestions__item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 25px 50px;
    height: auto;
    text-align: center;
    background-blend-mode: multiply;
    background-image: url('https://media.giphy.com/media/dNCZp9aaDHPi0/giphy.gif'),
    url('https://media.giphy.com/media/l0HlFvKI2icLus7w4/giphy.gif'),
    linear-gradient(to right, rgba($colorSearch,.5), white);
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-color: rgba($colorSearch,.5);
    transition-property: all;
    transition-duration: 0.8s;
    @media (min-width: $screen-md) {
        padding: 20vh 50px;
    }

    & > a, a:active {
            font-size: 2rem;
            color: white;
            border-bottom: 1px dotted rgba(255,255,255,0);
        }
    & > a:hover{
            color: white;
            text-decoration: none;
        }
}

.Suggestions__item:hover {
    background-color: rgba(0,0,255,1);
    transition-property: all;
    transition-duration: 0.4s;
}


.Suggestions__item .material-icons {
    font-size: 1em;
    margin-bottom: 5px;
}
