.Search {
    .list-group-item {
        padding: 0;
        font-family: @FONT2;
        overflow: hidden;
        background-color: @LOW_OPACITY_BACKGROUND;
        margin-bottom: 0;
        &:hover {
            a, [ng-click] {color: @text-color;}
            border: 0px solid black;
            background-color: white;
            .fa-youtube-play {
                color: @color_youtube;
            }
            .fa-soundcloud {
                color: @color_soundcloud;
            }
            .list-group-item-heading {
                font-weight: bold;
            }
        }
        .list-group-item-heading {
            font-weight: bold;
            padding-top: 10px;
        }
        .icons {
            padding-top: 32px;
            a {
                vertical-align: top;
            }
        }
        .illu {
            position: relative;
            height: 100px;
            img {
                position: absolute;
                right: 0;
                top: 0;
                height: 100px;
            }
        }
    }
}
