.Search {
    .row;
    max-height: 75vh;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: @LOW_OPACITY_BACKGROUND;

    &__cover {
        .cover;
    }
    &__filter {
        background-color: @gray-dark;
        font-family: @FONT2;
        //min-height: 550px;
        &__parameters {
            color: @gray-light;
            padding: 10px;
            padding-left: 20px;
            .text-left;
            //margin-bottom: 100px;
        }
    }
    &__list {
        .list {}
        min-height: 35vh;
    }
}
