.Search {

    max-height: 75vh;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: @LOW_OPACITY_BACKGROUND;

    &__cover {
        font-family: @FONT1;
        color: @text-color;
        background-color: @body-bg;
        box-sizing: padding-box;
        padding: (@MARGE * 2);
        box-shadow: 0px 10px 0px @SHADOW;
        position: relative;
        z-index: 2;
        &__title {
            //font-weight: bold;
            font-size: 150%;
        }
        &__details {
            font-family: @FONT2;
        }
        &__actions {
            text-align: right;
            &:hover{color:blue;}
        }
    }
    &__filter {
        background-color: @gray-dark;
        font-family: @FONT2;
        //min-height: 550px;
        &__parameters {
            color: @gray-light;
            padding: 10px;
            padding-left: 20px;
            .text-left;
            //margin-bottom: 100px;
        }
    }
    &__list {
        .list {}
        min-height: 35vh;
    }
}

.list {
    .list-group;

    &__item {
        .list-group-item;
        .row;
        font-family: @FONT2;
        overflow: hidden;
        background-color: fade(@gray-lighter, 90);
        margin-bottom: 0;
        padding: 0px;
        border: none;
        // display: inline-block; //effet marrant
        @media (max-width: @screen-sm){
            padding-bottom: 30px !important;
            }

        &__title {
            .list-group-item-heading;
            padding-left: 30px;
            padding-top: 30px;
            .h5;
            &--item {}
            &--show {font-family: @FONT1;}
        }
        &__info {
            .list-group-item-text;
            padding-left: 30px;
            .h5;
            i {
                font-size: 80%;
            }
        }
        &__actions {
            padding-top: 30px;
            .text-center;
            a {
                vertical-align: top;
            }
        }
        &__illu {
            &--item {
                z-index: 100;
                max-height: 120px;
                overflow: hidden;
                img {
                    //.img-responsive;
                    width: auto;
                    max-height: 100%;
                    display: block;;
                    //.center-block;
                }
            @media (max-width: @screen-sm){
                padding: 10px !important;
                }
            }
            &--show {}
        }

        &:active { background-color: red;}
        &:hover {
            a, [ng-click] {color: @text-color;}
            background-color: white;
            .fa-youtube-play {
                color: @color_youtube;
            }
            .fa-soundcloud {
                color: @color_soundcloud;
            }
            .list-group-item-heading {
                font-weight: bold;
            }
            .list-group-item-text {
                opacity: 1;
            }
        }
    }
}
