<soundcloud-viz ng-if="vm.Player.currentItem.provider_name == 'SoundCloud'"
                soundcloud-item="vm.Player.currentItem"></soundcloud-viz>
<youtube        ng-if="vm.Player.currentItem.provider_name == 'YouTube'"
                item="vm.Player.currentItem"></youtube>
<strip title="vm.Player.currentItem.title"
       lines="vm.lines"
       ng-hide="vm.Player.currentShow.settings.hide_strip"
       strip-queries="vm.loop.twitter_queries"
       underlines="vm.underlines"
       logo="vm.logo"
       progression="vm.progression">
</strip>
