<!doctype html>
<html lang="" ng-app="loopr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        {% assets output="gen/vendors.css",
            "loopr/styles/normalize.css"
        %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" charset="utf-8">
        {% endassets %}
        {% assets filters="less", output="gen/loopr.css", depends="loopr/styles/*.less",
            "loopr/styles/style.less"
        %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" charset="utf-8">
        {% endassets %}

    </head>
    <body>
        <nav class="left">
            <div class="wrapper">
                <div class="logo">L8pr</div>
                <div class="">Log out</div>
                <div class="">Login</div>
            </div>
        </nav>

        <div ng-include="'static/loopr/partials/loop.html'"></div>

        <div ng-view></div>

        {% assets output="gen/vendors.js",
            "bower_components/modernizr/modernizr.js",
            "bower_components/angular/angular.min.js",
            "bower_components/angular-route/angular-route.min.js",
            "bower_components/angular-resource/angular-resource.min.js",
            "bower_components/lodash/lodash.min.js",
            "bower_components/restangular/dist/restangular.min.js",
            "bower_components/angular-embedly/em-minified/angular-embedly.min.js",
            "bower_components/angular-embed/dist/angular-embed.min.js"
        %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets output="gen/loopr.js",
            "loopr/main.js",
            "loopr/shows.ctrl.js",
            "loopr/video-show.ctrl.js",
            "loopr/api.service.js"
        %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

    </body>
</html>
