<nav class="left">
    <div class="wrapper">
        <div class="logo">
            {% set logo = ['2','3','4','5','6','7']|random %}
            <img src="{{ url_for('static', filename='logos/L8pr-'+logo+'.gif') }}"/>
            <img src="{{ url_for('static', filename='logos/L8pr-1.gif') }}"/>
        </div>
        <div class="" ng-class="{active: $route.current.activetab == 'shows'}">
            <a href="/#/shows">Shows</a>
        </div>
        <div class="" ng-class="{active: $route.current.activetab == 'strip'}">
            <a href="/#/strip">Strip</a>
        </div>
        <br/>
        <div><a href="/catalog">Catalog</a></div>
        <br/>
        <div class="">>&nbsp;<a target="_blank" ng-href="/{{'{{'}} user.username {{'}}'}}">Watch</a></div>
        <br/>
        <br/>
        <div ng-bind="user.username" style="font-weight: 700;"></div>
        <div ng-class="{active: $route.current.activetab == 'account'}" ng-show="user">
            <a href="/#/account">account</a>
        </div>
        <div ng-show="user">
            <a ng-click="logout()">log out</a>
        </div>
        <div ng-hide="user" ng-class="{active: $route.current.activetab == 'login'}">
            <a href="/#/login">login</a>
        </div>
        <div style="color: rgba(200,200,200,0.7); padding-top: 80px;">Feedback</div>
    </div>
</nav>
