<!doctype html>
<html lang="" ng-app="loopr.player">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title ng-bind="Player.currentItem.title + ' | LoopR'"></title>
        <meta property="og:title" content="{{ (item and item.title ) or (show and show.title) or user.username + '\'s loop' }}"/>
        <meta property="og:description" content="{{ (item and show and show.title) or (show and user.username + '\'s loop') or nb_show + ' shows' }}" />
        <meta property="og:site_name" content="LoopR"/>
        <meta property="og:image" content="{{ item and item.thumbnail or (show and show.links[0] and show.links[0].thumbnail) or url_for('static', filename='logo.png', _external=True) }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        {% assets filters="less", output="gen/loopr-player.css", depends="/static/loopr/**.less",
            "loopr/player/styles/player.less"
        %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" charset="utf-8">
        {% endassets %}
        {% assets output="gen/vendors.css",
            "bower_components/angular-hotkeys/build/hotkeys.min.css"
        %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" charset="utf-8">
        {% endassets %}
        <link href='//fonts.googleapis.com/css?family=Lekton:400,400italic,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div ng-view></div>
        <script src="https://www.youtube.com/iframe_api"></script>
        {% assets output="gen/vendors-player.js",
            "bower_components/modernizr/modernizr.js",
            "bower_components/jquery/dist/jquery.min.js",
            "bower_components/lodash/lodash.min.js",
            "bower_components/angular/angular.min.js",
            "bower_components/angular-route/angular-route.min.js",
            "bower_components/angular-resource/angular-resource.min.js",
            "bower_components/angular-sanitize/angular-sanitize.min.js",
            "bower_components/lodash/lodash.min.js",
            "bower_components/restangular/dist/restangular.min.js",
            "bower_components/angular-local-storage/dist/angular-local-storage.min.js",
            "bower_components/angular-embedly/em-minified/angular-embedly.min.js",
            "bower_components/angular-embed/dist/angular-embed.min.js",
            "bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js",
            "bower_components/angular-hotkeys/build/hotkeys.min.js"
        %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets output="gen/loopr-player.js",
            "loopr/player/main.js",
            "loopr/player/player.ctrl.js",
            "loopr/player/player.service.js",
            "loopr/api.service.js",
            "loopr/strip/strip.directive.js"
        %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

    </body>
</html>
