$ITEM_HEIGHT: 50px; // do not change before changing the height value in JS
.ListItem {
    background-color: $body-bg;
    display: flex;
    width: 100%;
    border-bottom: 1px dotted $colorItem;
    /*flex-wrap: wrap; /* FOR MOBILES */
    align-items: center;
    height: $ITEM_HEIGHT;
}

.ListItem--User {
    background-position: right center;
    background-repeat: repeat-y;
    // background-image: url('https://media1.giphy.com/media/mqd0IiCu4iBVK/giphy.gif');
}


.ListItem .material-icons {
    font-size: 1em !important;
}

/* ListItem__title */

.ListItem__title {
    margin-right: 10px;

}

.ListItem__details {
    margin-right: 10px;
}

.ListItem--Track
    .ListItem__title {
    color: $colorItem;
}


.ListItem--Show
    .ListItem__title {
    font-family: 'Montserrat';
    color: $colorShow;
    font-size: 1.2rem; /* MEDIUM LARGE SCREENS */
    margin-bottom: .25rem;
}
.ListItem--Show {}

.ListItem--User
    .ListItem__title {
    color: $brand-primary;
    font-size: 1.4rem;  /* MEDIUM LARGE SCREENS */
    margin-bottom: .25rem;

}


.ListItem__illuBox {
    display: flex;
    flex-wrap: nowrap;
    align-self: stretch;
    background-color: yellow;
    padding: 0px;
    transition-property: all;
    transition-duration: .1s;
    width: 150px;
    overflow: hidden;
}

.ListItem--Show .ListItem__illuBox:hover {
    // width: auto;
}

.ListItem--User .ListItem__illuBox {
    height: 100px !important;
    width: 100px !important;
    margin: 20px 25px;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    border-radius: 50%;
    flex-shrink: 0;
}


.ListItem__illu {
    // background-image: url('https://i.giphy.com/XdBVUzXff2t1e.gif');
    background-size: cover;
    background-position: center center;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,1);
    transition-property: all;
    transition-duration: .1s;
    transition-delay: .1s;
    padding: 10px 25px; /* works well to set height of ListItem */
}

.ListItem--User .ListItem__illu {
    // background-image: url('https://i.giphy.com/ADr35Z4TvATIc.gif');
}

.ListItem__body {
    padding: 15px 25px;
}

.ListItem--Track .ListItem__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ListItem--isSelected {
    background-color: $brand-primary;
    color: $text-color-bright;
}

// .ListItem--isPlaying {
//     background-color: $colorPlaying;
//     color: white;
//     &:before {
//         content: 'play_arrow';
//         font-family: 'Material Icons';
//         font-size: 2em;
//         align-self: center;
//     }
// }
.ListItem--isPlaying {
    height: 20vh;
}
.ListItem--isPlaying .ListItem__illu {
    background-color: $colorPlaying !important;
}


.ListItem--isPlaying
    .ListItem__title {
        color: $colorPlaying;
        font-size: 1.4rem;
        padding: 50px 0px;
        &:before {
                content: 'play_arrow';
                font-family: 'Material Icons';
                align-self: center;
            }
}

.ListItem--isPlaying .ListItem__illuBox {
    width: 400px !important;
}

.ListItem--isPlaying .ListItem__illu {
    width: 400px !important;

}
