.Loop {
    background-color: @LOW_OPACITY_BACKGROUND;
    .infinit-scroll__item {
        display: inline-block;
    }
    &__shows {
        white-space: nowrap;
        overflow-y: auto;
    }
    &__show {
        position: relative;
        width: 200px;
        height: @LOOP_SHOW_HEIGHT;
        margin-right: 10px;

        display: inline-block;
        overflow: hidden;
        &__body {
            font-family: @FONT2;
            background-color: @body-bg;
            z-index: 1;
            position: relative;
            white-space: normal;
            padding: 20px;
            height: 120px ;
            .title {
                font-family: @FONT1;
                height: 42px;
                overflow: hidden;
            }
        }
        &__background {
            z-index: 0;
            background-size: cover;
            background-position: top center;
            height: (@LOOP_SHOW_HEIGHT + 30px);
            position: relative;
            top: (@CELL_HEIGHT * -1);
        }
        &--current-show {
            width: 420px !important; //@CURRENT_SHOW_WIDTH
            min-height: 250px;
            position: relative;
            background-color: fade(@brand-primary, 80);
            background-blend-mode: multiply;
            .Loop__show__body {
                background-color: transparent;
                color: white ;
                .title {
                    height: auto;
                    margin-bottom: 50px;
                }
            }
            .Loop__show__background {
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: .3;
            }
        }
    }
}
