.Loop {
    background-color: @LOW_OPACITY_BACKGROUND;
    .infinit-scroll__item {
        display: inline-block;
    }
    &__shows {
        white-space: nowrap;
        overflow-y: auto;
    }
    &__show {
        position: relative;
        width: 200px;
        height: @LOOP_SHOW_HEIGHT;
        margin-right: 10px;
        display: inline-block;
        overflow: hidden;
        &__body {
            font-family: @FONT2;
            background-color: @body-bg;
            z-index: 1;
            position: relative;
            white-space: normal;
            padding: 20px;
            //height: 120px ;
            .title {
                font-family: @FONT1;
                overflow: hidden;
                margin-bottom: 10px;
            }
            .title:hover{
                font-weight: bold;
            }
            .details {
                font-style: italic;
                //bottom: 0;
                //position: absolute;
            }
        }
        &__background {
            z-index: 0;
            position: relative;
            top: (@CELL_HEIGHT * -1);
            .swap-animation {
                background-size: cover;
                background-position: top center;
                height: (@LOOP_SHOW_HEIGHT + 30px);
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                &.ng-enter, &.ng-leave {
                    transition:0.5s linear all;
                }
                &.ng-enter {
                    top:(@LOOP_SHOW_HEIGHT + 30px);
                }
                &.ng-enter-active {
                    top:0px;
                }
                &.ng-leave {
                    top:0px;
                }
                &.ng-leave-active {
                    top:(@LOOP_SHOW_HEIGHT + 30px) * -1;
                }
            }
        }
        &--current-show {
            width: 420px !important; //@CURRENT_SHOW_WIDTH
            background-color: fade(@brand-primary, 80);
            background-blend-mode: multiply;
            .Loop__show__body {
                background-color: transparent;
                color: white ;
                .title {
                    font-size: 180%;
                    font-weight: bold;
                    height: auto;                    color: @body-bg;
                }
            }
            .Loop__show__background {
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: .3;
            }
        }
    }
}
