<div class="Loop">
    <div class="Loop__shows" infinit-scroll horizontal-scroll>
        <div class="Loop__show"
             ng-repeat="show in vm.strip.shows"
             ng-class="{'Loop__show--current-show': vm.currentShow.id === show.id}"
             ng-style="{width: getWidth(show)}">
            <div class="Loop__show__icon" ng-if="::show.show_type === 'last_item'">
                <i class="material-icons">new_releases</i>
            </div>
            <div class="Loop__show__icon" ng-if="::show.show_type === 'inbox'">
                <i class="material-icons">move_to_inbox</i>
            </div>
             <div class="Loop__show__body">
                <a ng-click="vm.openStrip('show', { show: show })">
                    <div class="title" title="Browse this Show">
                        {{ ::show.title }}
                    </div>
                </a>
                <div class="details">
                    <div class="metadata">
                        <em>{{ ::show.items.length }} media / {{ ::show.duration() | seconds }}</em>
                    </div>
                </div>
            </div>
            <div class="Loop__show__background"
                 ng-click="vm.playShow(show)"
                 swap-on-hover="::show.items"
                 title="Play this Show">
            </div>
        </div>
    </div>
</div>
