.Show {
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 ;//@MARGE;
    background-color: @LOW_OPACITY_BACKGROUND;
    @media (max-width: @screen-xs){padding: 0px 0px;}
    &__cover {
        .cover;
        &__title {
            font-weight: bold;
        }
    }
    &__side-bar {
        max-height: @STRIP_MAX_HEIGHT; overflow-y: auto; // put a scroll bar
        .side-bar;
    }
    &__list {
        max-height: @STRIP_MAX_HEIGHT; overflow-y: auto; // put a scroll bar
        .list;
        .list__item {
            //height: 150px; if just for SHOWS
        }
    }
}
