.Show {
    max-height: 60vh;
    overflow-y: auto;
    box-sizing: border-box;
    &__cover {
        font-family: @FONT1;
        color: @text-color;
        background-color: @body-bg;
        box-sizing: padding-box;
        .title {
            font-weight: bold;
        }
        @media (min-width: @screen-md){
            .title { margin-bottom:@line-height-computed * 2;}
        }
        .details {
            font-family: @FONT2;
        }

        @media (max-width: @screen-md){
            .details { margin-top:@line-height-computed / 2;}
        }
        .actions {
            text-align: right;
            top: 20px;
            &:hover{color:blue;}
        }
    }
    &__listItems, &__illu {
        min-height: 500px;
    }

    &__illu {
        background-color: purple;
    }

    &__listItems {
        font-family: @FONT2;
        background-color: fade(@body-bg, 75);
        &__item {
            padding-left: 30px !important;
            padding-top: 20px !important;
            .title {}
            .details {}
            .actions {}
        }
    }
    &--playingNow {}
    &--edit {}
}
