<div class="Show row" ng-class="{'Show--playing-now': vm.playingNow}">
    <!--<div class="Show__cover row">
        <div class="col-xs-12 col-md-10">
            <h2 class="Show__cover__title col-xs-12" ng-bind="vm.show.title"></h2>
        </div>
        <div class="Show__cover__actions col-xs-12 col-md-2">
            <i class="material-icons">play_circle_filled</i>
            <i class="material-icons">favorite_border</i>
            <i class="material-icons" ng-click="vm.showConfig()">more_horiz</i>
        </div>
    </div>-->
    <div class="Show__side-bar col-xs-12 col-md-3 col-md-push-9">
        <div class="Show__side-bar__title show" ng-bind="vm.show.title">
        </div>
        <div class="Show__side-bar__info">
            <div>show by <b>Vied12</b></div>
            <div>12 media / 51min</div>
        </div>
        <div class="Show__side-bar__filter text-right">
            <i class="material-icons">play_circle_filled</i>
            <i class="material-icons">favorite_border</i>
            <i class="material-icons" ng-click="vm.showConfig()">more_horiz</i>
        </div>
    </div>
    <div class="Show__list col-xs-12 col-md-9 col-md-pull-3">
        <div class="list__item" ng-repeat="item in vm.show.items">
            <div class="list__item__illu--item col-xs-4 col-md-3" ng-click="vm.player.playShow(vm.show, $index)">
                <img ng-src="{{ item.thumbnail }}"</>
            </div>
            <div class="col-xs-6 col-md-7" ng-click="vm.play(item)">
                <div class="list__item__title item" ng-click="vm.player.playShow(vm.show, $index)" ng-bind="item.title" title="Play {{item.title}}"></div>
                <div class="list__item__info">
                    <a ng-href="{{ item.url }}" target="_blank">
                        <span>{{item.provider_name}} video by User</span>
                        <i ng-if="item.provider_name === 'YouTube'" class="fa fa-youtube-play" aria-hidden="true" title="Watch {{item.title}} on Youtube"></i>
                        <i ng-if="item.provider_name === 'SoundCloud'" class="fa fa-soundcloud" aria-hidden="true" title="Watch {{item.title}} on Soundcloud"></i>
                        <i ng-if="item.provider_name === 'Vimeo'" class="fa fa-vimeo" aria-hidden="true" title="Watch {{item.title}} on Vimeo"></i>
                    </a>
                </div>
            </div>
            <div class="list__item__actions col-xs-2 col-md-2">
                <!--<i class="material-icons" ng-if="vm.player.currentItem === item">pause</i>-->
                <i class="material-icons" ng-click="vm.addItemToAShow(item)" title="Add this Item to a Show">playlist_add</i>
            </div>
        </div>
    </div>
</div>
