<div class="content">

    <form ng-submit="vm.createUser()">
        <input type="text" ng-model="vm.username" placeholder="username"/>
        <input type="text" ng-model="vm.password" placeholder="password"/>
        <input type="submit" value="register"/>
    </form>
    <form ng-submit="vm.login()">
        <input type="text" ng-model="vm.username2" placeholder="username"/>
        <input type="text" ng-model="vm.password2" placeholder="password"/>
        <input type="submit" value="login"/>
    </form>
</div>
