<nav class="right">
    <div class="create">
        <div class="wrapper">
            <h2>Add a new</h2>
            <ul>
                <li><a href="/#/show">Video Show</a></li>
                <li><a ng-click="">Tweet Show</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="create-show content">
    <form>
        <input type="text" ng-model="vm.show.title" ng-change="vm.saveShow()" ng-model-options="{debounce: 500}" placeholder="title"/>
        <br/>
        <input type="text" ng-model="url" placeholder="video link"/>
        <button ng-click="vm.addVideo(url)">Add</button>
    </form>
    <table>
        <col width="50%" />
        <col width="15%" />
        <col width="15%" />
        <col width="30px" />
        <col width="15%" />
        <col width="0%" />
        <tr ng-repeat="link in vm.show.links">
            <td class="title"><div>{{ $index + 1 }}. {{ link.title }}</div></td>
            <td>{{ link.provider_name }}</td>
            <td>21m</td>
            <td class="reorder"><span ng-show="!$first">&#8593;</span> <span ng-show="!$last">&#8595;</span></td>
            <td><a ng-click="vm.removeVideo(link)">X</a></td>
            <td><img class="illustration" ng-src="{{ link.thumbnail }}"/></td>
        </tr>
    </table>
</div>
