<div ng-include="'static/loopr/partials/loop.html'"></div>
<nav class="right">
    <div class="first-block block">
        <h3>Actions</h3>
        <ul>
            <li><a ng-click="vm.addToLoop()">Add to loop</a></li>
            <li><a ng-click="vm.removeShow()">Delete this show</a></li>
        </ul>
    </div>
    <div class="block">
        <h3>Options</h3>
        <ul>
            <li>

                <label><input type="checkbox" ng-model="checkboxModel.value2">
                    Shuffle Mode
                </label>
            </li>
            <li>
                <label><input type="checkbox" ng-model="checkboxModel.value1">
                    Hide the STRIP for this show
                </label>
            </li>
        </ul>
    </div>
</nav>
<div class="create-show content">
    <form>
        <h2 ng-model="vm.show.title" ng-change="vm.saveShow()" ng-model-options="{debounce: 500}" contenteditable="true"></h2>
        <label>Link

        </label>
        <input type="text" ng-model="vm.url" placeholder="video link"/>
        <button ng-click="vm.addVideo(vm.url)">+ Add</button>
    </form>
    <table>
        <tr ng-repeat="link in vm.show.links">
            <td class="title"><div>{{ $index + 1 }}. {{ link.title }}</div></td>
            <td>{{ link.provider_name }}</td>
            <td>{{ link.duration | seconds }}</td>
            <td class="reorder"><a ng-click="vm.reorderLink(link, -1)" ng-show="!$first">&#8593;</a><a ng-click="vm.reorderLink(link, 1)" ng-show="!$last">&#8595;</a></span></td>
            <td><a ng-click="vm.removeVideo(link)">X</a></td>
        </tr>
    </table>
    <img class="illustration" ng-src="{{ vm.show.thumbnail || vm.show.links[vm.show.links.length-1].thumbnail }}"/>
</div>
