<nav class="right">
    <div class="create">
        <div class="wrapper">
            <ul>
                <li><a>Add to loop</a></li>
                <li><a ng-click="vm.removeShow()">Delete this show</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="create-show content">
    <form>
        <input type="text" ng-model="vm.show.title" ng-change="vm.saveShow()" ng-model-options="{debounce: 500}" placeholder="title"/>
        <br/>
        <input type="text" ng-model="url" placeholder="video link"/>
        <button ng-click="vm.addVideo(url)">Add</button>
    </form>
    <table>
        <col width="50%" />
        <col width="15%" />
        <col width="15%" />
        <col width="30px" />
        <col width="15%" />
        <tr ng-repeat="link in vm.show.links">
            <td class="title"><div>{{ $index + 1 }}. {{ link.title }}</div></td>
            <td>{{ link.provider_name }}</td>
            <td>21m</td>
            <td class="reorder"><span ng-show="!$first"><a ng-click="vm.reorderLink(link, -1)">&#8593;</a></span> <span ng-show="!$last"><a ng-click="vm.reorderLink(link, 1)">&#8595;</a></span></td>
            <td><a ng-click="vm.removeVideo(link)">X</a></td>
        </tr>
    </table>
    <img class="illustration" ng-src="{{ vm.show.thumbnail || vm.show.links[vm.show.links.length-1].thumbnail }}"/>
</div>
