<div class="main_loop">
    <ul>
        <li>
            <div class="show" style="width:100px;">
                <div class="show__illustration"></div>
                <div class="bottom">
                    <div class="show__title">Cooking time</div>
                    <div class="show__info">5min Video</div>
                </div>
            </div>
        </li>
        <li>
            <div class="show" style="width:150px;">
                <div class="show__illustration"></div>
                <div class="bottom">
                    <div class="show__title">Cooking timeCooking time</div>
                    <div class="show__info">5min Video</div>
                </div>
            </div>
        </li>
        <li>
            <div class="show" style="width:200px;">
                <div class="show__illustration"></div>
                <div class="bottom">
                    <div class="show__title">Cooking time Cooking time</div>
                    <div class="show__info">5min Video</div>
                </div>
            </div>
        </li>
    </ul>
    <div class="main_loop__info">
        <div class="main_loop__info__title">Main Loop</div>
        <div>6 Shows</div>
        <div>5h42m</div>
    </div>
</div>
