<div class="main_loop" ng-controller="LoopCtrl as loopCtrl">
    <ul>
        <li ng-repeat="show in loopCtrl.loop.shows">
            <div class="show" resizable ng-style="{width: (windowWidth - 450) / {{loopCtrl.loop.shows.length}}+'px'}">
                <div class="show__illustration">
                    <div class="show__illustration" style="background-image:url({{show.links[0].thumbnail}})">
                </div>
                <div class="delete" ng-click="loopCtrl.deleteFromLoop($index)">X</div>
                <div class="bottom">
                    <div class="show__title"><a>{{ show.title }}</a></div>
                    <div class="show__info">{{ show.duration() | seconds }}</div>
                </div>
            </div>
        </li>
    </ul>
    <div class="main_loop__info">
        <div class="main_loop__info__title">Main Loop</div>
        <div>{{ loopCtrl.loop.shows.length }} Shows</div>
        <div>5h42m</div>
    </div>
</div>
