<nav class="right">
    <div class="create">
        <div class="wrapper">
            <h2>Create a new show</h2>
            <ul>
                <li><a href="/#/show">Video Show</a></li>
                <li><a ng-click="">Tweet Show</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="shows content">
    <h2>Your Shows</h2>
    <ul>
        <li ng-repeat="show in vm.shows">
            <a href="/#/show/{{show._id}}">
            <div class="show" style="width:200px;">
                <div class="show__illustration">
                    <img ng-src="{{show.links[0].thumbnail}}"/>
                </div>
                <div class="bottom">
                    <div class="show__title">{{ show.title || show.links[0].title }}</div>
                    <div class="show__info">5min {{ show.type }} ({{ show.links.length || 0 }}x)</div>
                </div>
            </div>
        </a>
        </li>
    </ul>
</div>
