.Show {
    display: flex;
}

.Show__body {
    overflow: auto;
}

.Show .StripHeader {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

.cover .StripHeader {
    display: block;
    padding: 0px;
}

.cover .ListItem__body {
    padding: 20px;
}

.cover .ListItem__title {
    font-size: 1.4rem;
    cursor: default;
}
